<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	//var data;
	var dataParcel;
	
	totalBondAV = 31392042000;
	sampleParcelAV = 700000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalBondPrincipal = 676000000;
	totalBondInterest = 631000000;
	totalBondCost = totalBondPrincipal + totalBondInterest;
	sampleParcelPOF = sampleParcelAV / totalBondAV;
	totalBondCostParcel = 0;
	totalBondPrincipalParcel = 0;
	totalBondInterestParcel = 0;
	bondYears = 23;
	averageTotalBondCostParcel = 0;

	// POF Annual Change Percent
	pofAdjust = 0;
	pofAdjustMin = -1.0;
	pofAdjustMax = 1.0;

    function drawStuff() {
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Principal');
		data.addColumn('number', 'Interest + Fees');

		data.addRows([
			['2023', 10618000, 13013000],
			['2024', 16364990, 12429010],
			['2025', 2340864, 30423136],
			['2026', 6539420, 30274580],
			['2027', 0, 39400000],
			['2028', 1986068, 39531932],
			['2029', 3968935, 39407065],
			['2030', 6247455, 39153545],
			['2031', 18831834, 38752166],
			['2032', 33759938, 37533062],
			['2033', 14661196, 35446804],
			['2034', 17627579, 34618421],
			['2035', 20880353, 33614647],
			['2036', 24299447, 32418553],
			['2037', 28075280, 31019720],
			['2038', 32230927, 29397073],
			['2039', 49994798, 27528202],
			['2040', 58987033, 24662967],
			['2041', 65712950, 21282050],
			['2042', 73561802, 17508198],
			['2043', 81301269, 12755731],
			['2044', 90524503, 7495497],
			['2045', 17362908, 3637092],

		]);

		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Principal');
		dataParcel.addColumn('number', 'Interest + Fees');

		dataParcel.addRows(bondYears);

		sampleParcelPOFEffective = sampleParcelPOF;
		totalBondPrincipalParcel = 0;
		totalBondInterestParcel = 0;
		for (let i = 0; i < bondYears; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalBondPrincipalParcel = totalBondPrincipalParcel +  data.getValue(i, 1) * sampleParcelPOFEffective;
			totalBondInterestParcel = totalBondInterestParcel +  data.getValue(i, 2) * sampleParcelPOFEffective;
		}		
		totalBondCostParcel = totalBondPrincipalParcel + totalBondInterestParcel;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;

		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  

		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample Parcel 2022 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost', totalBondCostParcel],
			['Average cost per year for 23 years', averageTotalBondCostParcel],
			['Total principal cost', totalBondPrincipalParcel],
			['Total interest + fees cost', totalBondInterestParcel],
		]);

	  
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// POF Adjust table
		table_pof_adjust_input_data = new google.visualization.DataTable();
		table_pof_adjust_input_data.addColumn('string', 'Description');
		table_pof_adjust_input_data.addColumn('number', 'Value');
		table_pof_adjust_input_data.addRows([
			['POF annual change', pofAdjust ],
		]);
 
		// Input table for POF change
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, negativeColor: 'red', negativeParens: false});
		table_pof_adjust_input = new google.visualization.Table(document.getElementById('table_pof_adjust_input_div'));
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data, {sort:'disable'});
		
		// All Categories bar chart if measure passes
data5 = new google.visualization.DataTable();
		data5.addColumn('string', 'Year');
		data5.addColumn('number', 'Existing Bond');
		data5.addColumn('number', 'New Bond');
		data5.addColumn('number', 'Existing Cap Levy');
		data5.addColumn('number', 'Future Cap Levy');
		data5.addColumn('number', 'Existing Tech Levy');
		data5.addColumn('number', 'Future Tech Levy');
		data5.addColumn('number', 'Existing Enrichment Levy');
		data5.addColumn('number', 'Future Enrichment Levy');
		data5.addColumn('number', 'State School');
		data5.addColumn('number', 'Non School');

		data5.addRows([
			['2022', 41500000, 0, 14600000, 0, 13000000, 0, 42380000, 0, 88429813, 154951149],
			['2023', 29418000, 23631000, 15500000, 0, 14500000, 0, 41236000, 0, 0, 0],
			['2024', 29413000, 28794000, 15500000, 0, 14500000, 0, 41896000, 0, 0, 0],
			['2025', 29427000, 32764000, 15500000, 0, 14500000, 0, 43272000, 0, 0, 0],
			['2026', 30065000, 36814000, 15500000, 0, 14500000, 0, 44093000, 0, 0, 0],
			['2027', 30060000, 39400000, 0, 16120000, 0, 15080000, 0, 45857000, 0, 0],
			['2028', 30629000, 41518000, 0, 16765000, 0, 15683000, 0, 47691000, 0, 0],
			['2029', 31657000, 43376000, 0, 17435000, 0, 16311000, 0, 49599000, 0, 0],
			['2030', 32631000, 45401000, 0, 18133000, 0, 16963000, 0, 51583000, 0, 0],
			['2031', 23565000, 57584000, 0, 18858000, 0, 17641000, 0, 53646000, 0, 0],
			['2032', 13103000, 71293000, 0, 19612000, 0, 18347000, 0, 55792000, 0, 0],
			['2033', 13466000, 50108000, 0, 20397000, 0, 19081000, 0, 58024000, 0, 0],
			['2034', 13873000, 52246000, 0, 21213000, 0, 19844000, 0, 60345000, 0, 0],
			['2035', 14267000, 54495000, 0, 22061000, 0, 20638000, 0, 62759000, 0, 0],
			['2036', 14792000, 56718000, 0, 22944000, 0, 21464000, 0, 65269000, 0, 0],
			['2037', 15272000, 59095000, 0, 23862000, 0, 22322000, 0, 67880000, 0, 0],
			['2038', 15712000, 61628000, 0, 24816000, 0, 23215000, 0, 70585000, 0, 0],
			['2039', 2912000, 77523000, 0, 25809000, 0, 24144000, 0, 73419000, 0, 0],
			['2040', 0, 83650000, 0, 26841000, 0, 25109000, 0, 76356000, 0, 0],
			['2041', 0, 86995000, 0, 27915000, 0, 26114000, 0, 79410000, 0, 0],
			['2042', 0, 91070000, 0, 29031000, 0, 27158000, 0, 82586000, 0, 0],
			['2043', 0, 94057000, 0, 30192000, 0, 28245000, 0, 85890000, 0, 0],
			['2044', 0, 98020000, 0, 31400000, 0, 29374000, 0, 89325000, 0, 0],
			['2045', 0, 21000000, 0, 32656000, 0, 30549000, 0, 92898000, 0, 0],

		]);

		// [NEW SECTION START]
		// All Categories Bar Chart if measure passes
		data5Parcel = new google.visualization.DataTable();
		data5Parcel.addColumn('string', 'Year');
		data5Parcel.addColumn('number', 'Existing Bond');
		data5Parcel.addColumn('number', 'New Bond');
		data5Parcel.addColumn('number', 'Existing Cap Levy');
		data5Parcel.addColumn('number', 'Future Cap Levy');
		data5Parcel.addColumn('number', 'Existing Tech Levy');
		data5Parcel.addColumn('number', 'Future Tech Levy');
		data5Parcel.addColumn('number', 'Existing Enrichment Levy');
		data5Parcel.addColumn('number', 'Future Enrichment Levy');
		data5Parcel.addColumn('number', 'State School');
		data5Parcel.addColumn('number', 'Non School');

		data5Parcel.addRows(bondYears + 1);

		sampleParcelPOFEffective = sampleParcelPOF;
		for (let i = 0; i < bondYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (i);
			data5Parcel.setCell(i, 0, data5.getValue(i, 0));
			data5Parcel.setCell(i, 1, data5.getValue(i, 1) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 2, data5.getValue(i, 2) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 3, data5.getValue(i, 3) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 4, data5.getValue(i, 4) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 5, data5.getValue(i, 5) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 6, data5.getValue(i, 6) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 7, data5.getValue(i, 7) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 8, data5.getValue(i, 8) * sampleParcelPOFEffective);
			// For the new years, need to calculate State School and Non School
			// Use growth of 1% for now
			if (i >= 1) {
				growthFactor = 1.01 ** (i)
				data5Parcel.setCell(i, 9, data5.getValue(0, 9) * growthFactor * sampleParcelPOF);
				data5Parcel.setCell(i, 10, data5.getValue(0, 10) * growthFactor * sampleParcelPOF);
			} else {
				data5Parcel.setCell(i, 9, data5.getValue(i, 9) * sampleParcelPOFEffective);
				data5Parcel.setCell(i, 10, data5.getValue(i, 10) * sampleParcelPOFEffective);
			}
		}		

		options5 = {
			title: 'Estimated Property Taxes For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
		// All categories bar chart if measure passes
		chart5 = new google.visualization.ColumnChart(document.getElementById('chart5_div'));
		formatter.format(data5Parcel, 1); // Apply formatter to second column
		formatter.format(data5Parcel, 2); // Apply formatter to third column
		formatter.format(data5Parcel, 3); 
		formatter.format(data5Parcel, 4); 
		formatter.format(data5Parcel, 5); 
		formatter.format(data5Parcel, 6); 
		formatter.format(data5Parcel, 7); 
		formatter.format(data5Parcel, 8); 
		formatter.format(data5Parcel, 9); 
		formatter.format(data5Parcel, 10); 
		chart5.draw(data5Parcel, options5);
		// [NEW SECTION END]
	}

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);

		//Update chart
		sampleParcelPOFEffective = sampleParcelPOF;
		totalBondPrincipalParcel = 0;
		totalBondInterestParcel = 0;
		for (let i = 0; i < bondYears; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalBondPrincipalParcel = totalBondPrincipalParcel +  data.getValue(i, 1) * sampleParcelPOFEffective;
			totalBondInterestParcel = totalBondInterestParcel +  data.getValue(i, 2) * sampleParcelPOFEffective;
		}		
		totalBondCostParcel = totalBondPrincipalParcel + totalBondInterestParcel;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);

		//Update table output
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		//totalBondCostParcel = sampleParcelPOF * totalBondCost;
		//totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
		//totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
		table_data.setValue(0, 1, totalBondCostParcel); // Total bond cost parcel
		table_data.setValue(1, 1, averageTotalBondCostParcel); // Average cost per year for parcel
		table_data.setValue(2, 1, totalBondPrincipalParcel); // Total principal for parcel
		table_data.setValue(3, 1, totalBondInterestParcel); // Total interest + fees for parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);

		// [NEW SECTION START]
		// Update chart 5
		sampleParcelPOFEffective = sampleParcelPOF;
		for (let i = 0; i < bondYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (i);
			data5Parcel.setValue(i, 0, data5.getValue(i, 0));
			data5Parcel.setValue(i, 1, data5.getValue(i, 1) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 2, data5.getValue(i, 2) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 3, data5.getValue(i, 3) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 4, data5.getValue(i, 4) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 5, data5.getValue(i, 5) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 6, data5.getValue(i, 6) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 7, data5.getValue(i, 7) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 8, data5.getValue(i, 8) * sampleParcelPOFEffective);
			// For the new years, need to calculate State School and Non School
			// Use growth of 1% for now
			if (i >= 1) {
				growthFactor = 1.01 ** (i)
				data5Parcel.setCell(i, 9, data5.getValue(0, 9) * growthFactor * sampleParcelPOF);
				data5Parcel.setCell(i, 10, data5.getValue(0, 10) * growthFactor * sampleParcelPOF);
			} else {
				data5Parcel.setCell(i, 9, data5.getValue(i, 9) * sampleParcelPOFEffective);
				data5Parcel.setCell(i, 10, data5.getValue(i, 10) * sampleParcelPOFEffective);
			}
		}		
		formatter.format(data5Parcel, 1); // Apply formatter to second column
		formatter.format(data5Parcel, 2);
		formatter.format(data5Parcel, 3);
		formatter.format(data5Parcel, 4);
		formatter.format(data5Parcel, 5);
		formatter.format(data5Parcel, 6);
		formatter.format(data5Parcel, 7);
		formatter.format(data5Parcel, 8);
		formatter.format(data5Parcel, 9);
		formatter.format(data5Parcel, 10);
		chart5.draw(data5Parcel, options5);
		// [NEW SECTION END]
    }
	
	function changePOFChange(dir) {
		pofAdjust = pofAdjust + dir;
		if (pofAdjust < pofAdjustMin)
			pofAdjust = pofAdjustMin;
		if (pofAdjust > pofAdjustMax)
			pofAdjust = pofAdjustMax;
		table_pof_adjust_input_data.setValue(0, 1, pofAdjust);
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the November 8th 2022 bond measure proposed by the Renton SD</H2>
  <p>Created by the author independently from and not associated with the school district</p>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="Increase Sample Parcel 2022 Tax Year AV" onclick="changeParcelAV(50000)" />
  <input type="button" value="Decrease Sample Parcel 2022 Tax Year AV" onclick="changeParcelAV(-50000)" />
  <p></p>
  <div id="table_pof_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="Increase POF Annual Change" onclick="changePOFChange(0.1)" />
  <input type="button" value="Decrease POF Annual Change" onclick="changePOFChange(-0.1)" />
  <p></p>
  <H3>Output</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
  <H3>All Property Taxes If The Measure Passes</H3>
  <p>Estimated obligations for the sample parcel</P>
  <p>A 1% growth is assumed for the State School and NonSchool categories from 2023 onward</p>
  <p>Note: All of the State School category tax is routed to the school district - in total</p>
  <div id="chart5_div" style="width:800px; height: 640px;"></div>
  <H3>Data Sources</H3>
  <p>District's bond/levy projection datasheet obtained from a public records request</p>
 </body>
</html>

