<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_ex_av_2021_encl; // Table input to draw with parcel AV info
	var table;  // Short output table to draw for totals
	
	// New start
	exPropAV2021 = 440000;
	exPropAV2022 = 460000;
	exPropAV2023 = 480000;
	exPropAV2024 = 500000;
	totalAV2021 = 3162376848;
	totalAV2022 = 3647425488;
	totalAV2023 = 4468838343;
	totalAV2024 = 5260408000;
	exPropAVMin = 100000;
	exPropAVMax = 2000000;
	exPropPOF2021 = exPropAV2021 / totalAV2021;
	exPropPOF2022 = exPropAV2022 / totalAV2022;
	exPropPOF2023 = exPropAV2023 / totalAV2023;
	exPropPOF2024 = exPropAV2024 / totalAV2024;
	exPropPOFChange2021to2022 = (exPropPOF2022 - exPropPOF2021) / exPropPOF2021;
	exPropPOFChange2022to2023 = (exPropPOF2023 - exPropPOF2022) / exPropPOF2022;
	exPropPOFChange2023to2024 = (exPropPOF2024 - exPropPOF2023) / exPropPOF2023;
	exPropAveAnnualPOFChange2021to2024 = (exPropPOFChange2021to2022 + exPropPOFChange2022to2023 + exPropPOFChange2023to2024) / 3 * 100;
	exPropCompoundedAnnualPOFChange2021to2024 = (((exPropPOF2024 / exPropPOF2021) ** (1/3))  - 1) * 100;
	// New end


    function drawStuff() {
		// Levy 1 init
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Total AV');
		data.addColumn('number', 'Total AV Change');
		data.addColumn('number', 'Example Property\'s AV');
		data.addColumn('number', 'Example Property\'s AV Change');
		data.addColumn('number', 'Example Property\'s POF');
		data.addColumn('number', 'Example Property\'s POF Change');

		data.addRows([
			['2021', 3462376848, 0, 0, 0, 0, 0],
			['2022', 3647425488, 0, 0, 0, 0, 0],
			['2023', 4468838343, 0, 0, 0, 0, 0],
			['2024', 5260408000, 0, 0, 0, 0, 0],

		]);
		
		
		// Table Output General
		table_output = new google.visualization.DataTable();
		table_output.addColumn('string', '(A)<br>Tax<br>Year');
		table_output.addColumn('number', '(B)<br>Total<br>AV');
		table_output.addColumn('number', '(C)<br>Total AV<br>Change');
		table_output.addColumn('number', '(D)<br>Example Property\'s<br>AV');
		table_output.addColumn('number', '(E)<br>Example Property\'s<br>AV Change');
		table_output.addColumn('number', '(F)<br>Example Property\'s<br>POF');
		table_output.addColumn('number', '(G)<br>Example Property\'s<br>POF Change');

		table_output.addRows(4);
		for (let i = 0; i < 4; i++) {
			table_output.setCell(i, 0, data.getValue(i, 0)); // Year
			table_output.setCell(i, 1, data.getValue(i, 1)); // Total AV
			table_output.setCell(i, 2, data.getValue(i, 2)); // Total AV Change
			table_output.setCell(i, 3, data.getValue(i, 3)); // Ex Prop AV
			table_output.setCell(i, 4, data.getValue(i, 4)); // Ex Prop AV Change
			table_output.setCell(i, 5, data.getValue(i, 5)); // POF
			table_output.setCell(i, 6, data.getValue(i, 6)); // POF Change
		}

		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		// Output short summary data with ave annual POF change and compounded annual POF change
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Average annual POF change 2021 to 2024', 0],
			['Compounded annual POF change 2021 to 2024', 0],
		]);

		// Ex AV 2021 table
		table_ex_av_2021 = new google.visualization.DataTable();
		table_ex_av_2021.addColumn('string', 'Description');
		table_ex_av_2021.addColumn('number', 'Value');
		table_ex_av_2021.addRows([
			['Example property\'s AV 2021', exPropAV2021],
		]);

		// Ex AV 2022 table
		table_ex_av_2022 = new google.visualization.DataTable();
		table_ex_av_2022.addColumn('string', 'Description');
		table_ex_av_2022.addColumn('number', 'Value');
		table_ex_av_2022.addRows([
			['Example property\'s AV 2022', exPropAV2022],
		]);

		// Ex AV 2023 table
		table_ex_av_2023 = new google.visualization.DataTable();
		table_ex_av_2023.addColumn('string', 'Description');
		table_ex_av_2023.addColumn('number', 'Value');
		table_ex_av_2023.addRows([
			['Example property\'s AV 2023', exPropAV2023],
		]);

		// Ex AV 2024 table
		table_ex_av_2024 = new google.visualization.DataTable();
		table_ex_av_2024.addColumn('string', 'Description');
		table_ex_av_2024.addColumn('number', 'Value');
		table_ex_av_2024.addRows([
			['Example property\'s AV 2024', exPropAV2024],
		]);

		// Formatters
		formatter = new google.visualization.NumberFormat(
			{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, positiveColor: 'black', negativeColor: 'black', negativeParens: false});
		formatterPOF = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:7, negativeColor: 'red', negativeParens: false});
		formatterRate = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:2, negativeColor: 'red', negativeParens: false});
		<!-- formatter.format(dataParcel, 1); // Apply formatter to second column -->
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		// Enclosing tables
		// Input table for the ex prop AV 2021
		table_ex_av_2021_encl = new google.visualization.Table(document.getElementById('table_ex_av_2021_div'));
		formatter.format(table_ex_av_2021, 1); // Apply formatter to second column
		table_ex_av_2021_encl.draw(table_ex_av_2021, {sort:'disable'});
		// Input table for the ex prop AV 2022
		table_ex_av_2022_encl = new google.visualization.Table(document.getElementById('table_ex_av_2022_div'));
		formatter.format(table_ex_av_2022, 1); // Apply formatter to second column
		table_ex_av_2022_encl.draw(table_ex_av_2022, {sort:'disable'});
		// Input table for the ex prop AV 2023
		table_ex_av_2023_encl = new google.visualization.Table(document.getElementById('table_ex_av_2023_div'));
		formatter.format(table_ex_av_2023, 1); // Apply formatter to second column
		table_ex_av_2023_encl.draw(table_ex_av_2023, {sort:'disable'});
		// Input table for the ex prop AV 2024
		table_ex_av_2024_encl = new google.visualization.Table(document.getElementById('table_ex_av_2024_div'));
		formatter.format(table_ex_av_2024, 1); // Apply formatter to second column
		table_ex_av_2024_encl.draw(table_ex_av_2024, {sort:'disable'});

		// Input table for Total AV change
		table_data_encl = new google.visualization.Table(document.getElementById('table_data_div'));
		formatterPercent1.format(table_data, 1); // Apply formatter to second column
		table_data_encl.draw(table_data, {sort:'disable'});

		// Output table general
		table_output_encl = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		formatter.format(table_output, 3); // Apply formatter to ex prop AV column
		formatterPercent1.format(table_output, 4); // Apply formatter to ex prop AV change column
		formatterPOF.format(table_output, 5); // Apply formatter to Example Property POF column
		formatterPercent1.format(table_output, 6); // Apply formatter to Example Property POF change column
		table_output_encl.draw(table_output, {sort:'disable'});
		
		updateOutput(0);
    }
	

    function updateOutput(dir) {
		//Update the short summary table output
		exPropPOF2021 = exPropAV2021 / totalAV2021;
		exPropPOF2022 = exPropAV2022 / totalAV2022;
		exPropPOF2023 = exPropAV2023 / totalAV2023;
		exPropPOF2024 = exPropAV2024 / totalAV2024;
		exPropPOFChange2021to2022 = (exPropPOF2022 - exPropPOF2021) / exPropPOF2021;
		exPropPOFChange2022to2023 = (exPropPOF2023 - exPropPOF2022) / exPropPOF2022;
		exPropPOFChange2023to2024 = (exPropPOF2024 - exPropPOF2023) / exPropPOF2023;
		exPropAveAnnualPOFChange2021to2024 = (exPropPOFChange2021to2022 + exPropPOFChange2022to2023 + exPropPOFChange2023to2024) / 3 * 100;
	    exPropCompoundedAnnualPOFChange2021to2024 = (((exPropPOF2024 / exPropPOF2021) ** (1/3))  - 1) * 100;

		table_data.setValue(0, 1, exPropAveAnnualPOFChange2021to2024); // Average annual POF change
		table_data.setValue(1, 1, exPropCompoundedAnnualPOFChange2021to2024); // Compounded annual POF change
		formatterPercent1.format(table_data, 1); // Apply formatter to second column
		table_data_encl.draw(table_data, {sort:'disable'});
		
		//Update table output general
		table_output.setValue(0, 1, totalAV2021);
		table_output.setValue(1, 1, totalAV2022);
		table_output.setValue(2, 1, totalAV2023);
		table_output.setValue(3, 1, totalAV2024);
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		table_output.setValue(0, 2, 0);
		table_output.setValue(1, 2, (totalAV2022-totalAV2021)/totalAV2021*100);
		table_output.setValue(2, 2, (totalAV2023-totalAV2022)/totalAV2022*100);
		table_output.setValue(3, 2, (totalAV2024-totalAV2023)/totalAV2023*100);
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		table_output.setValue(0, 3, exPropAV2021);
		table_output.setValue(1, 3, exPropAV2022);
		table_output.setValue(2, 3, exPropAV2023);
		table_output.setValue(3, 3, exPropAV2024);
		formatter.format(table_output, 3); // Apply formatter to Ex Prop AV column
		table_output.setValue(1, 4, (exPropAV2022-exPropAV2021)/exPropAV2021*100);
		table_output.setValue(2, 4, (exPropAV2023-exPropAV2022)/exPropAV2022*100);
		table_output.setValue(3, 4, (exPropAV2024-exPropAV2023)/exPropAV2023*100);
		formatterPercent1.format(table_output, 4); // Apply formatter to Ex Prop AV Change column
		table_output.setValue(0, 5, exPropPOF2021);
		table_output.setValue(1, 5, exPropPOF2022);
		table_output.setValue(2, 5, exPropPOF2023);
		table_output.setValue(3, 5, exPropPOF2024);
		formatterPOF.format(table_output, 5); // Apply formatter to Ex Prop POF column
		table_output.setValue(1, 6, (exPropPOF2022-exPropPOF2021)/exPropPOF2021*100);
		table_output.setValue(2, 6, (exPropPOF2023-exPropPOF2022)/exPropPOF2022*100);
		table_output.setValue(3, 6, (exPropPOF2024-exPropPOF2023)/exPropPOF2023*100);
		formatterPercent1.format(table_output, 6); // Apply formatter to Ex Prop POF Change column
		table_output_encl.draw(table_output, {sort:'disable',allowHtml:'true'});
    }
	
	function changeAV2021(dir) {
		exPropAV2021 = exPropAV2021 + dir;
		if (exPropAV2021 < exPropAVMin)
			exPropAV2021 = exPropAVMin;
		if (exPropAV2021 > exPropAVMax)
			exPropAV2021 = exPropAVMax;
		table_ex_av_2021.setValue(0, 1, exPropAV2021);
		formatter.format(table_ex_av_2021, 1); // Apply formatter to second column
		table_ex_av_2021_encl.draw(table_ex_av_2021);
		updateOutput(0);
	}

	function changeAV2022(dir) {
		exPropAV2022 = exPropAV2022 + dir;
		if (exPropAV2022 < exPropAVMin)
			exPropAV2022 = exPropAVMin;
		if (exPropAV2022 > exPropAVMax)
			exPropAV2022 = exPropAVMax;
		table_ex_av_2022.setValue(0, 1, exPropAV2022);
		formatter.format(table_ex_av_2022, 1); // Apply formatter to second column
		table_ex_av_2022_encl.draw(table_ex_av_2022);
		updateOutput(0);
	}
	
	function changeAV2023(dir) {
		exPropAV2023 = exPropAV2023 + dir;
		if (exPropAV2023 < exPropAVMin)
			exPropAV2023 = exPropAVMin;
		if (exPropAV2023 > exPropAVMax)
			exPropAV2023 = exPropAVMax;
		table_ex_av_2023.setValue(0, 1, exPropAV2023);
		formatter.format(table_ex_av_2023, 1); // Apply formatter to second column
		table_ex_av_2023_encl.draw(table_ex_av_2023);
		updateOutput(0);
	}
	
	function changeAV2024(dir) {
		exPropAV2024 = exPropAV2024 + dir;
		if (exPropAV2024 < exPropAVMin)
			exPropAV2024 = exPropAVMin;
		if (exPropAV2024 > exPropAVMax)
			exPropAV2024 = exPropAVMax;
		table_ex_av_2024.setValue(0, 1, exPropAV2024);
		formatter.format(table_ex_av_2024, 1); // Apply formatter to second column
		table_ex_av_2024_encl.draw(table_ex_av_2024);
		updateOutput(0);
	}

  </script>
 </head>
 <body>
  <H2>Historical Proportional Obligation Factor (POF) calculator for an example property in the Lynden SD tax area</H2>
  <H3>Input</H3>
  <div id="table_ex_av_2021_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeAV2021(10000)" />
  <input type="button" value="-" onclick="changeAV2021(-10000)" />
  <p></p>
  <div id="table_ex_av_2022_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeAV2022(10000)" />
  <input type="button" value="-" onclick="changeAV2022(-10000)" />
  <p></p>
  <div id="table_ex_av_2023_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeAV2023(10000)" />
  <input type="button" value="-" onclick="changeAV2023(-10000)" />
  <p></p>
  <div id="table_ex_av_2024_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeAV2024(10000)" />
  <input type="button" value="-" onclick="changeAV2024(-10000)" />
  <p></p>
  
  <H3>Output</H3>
  <p>POF results for the example property</P>
  <div id="table_output_div" style="width:1200px; height: 140px;"></div>
  <div id="table_data_div" style="width:2000px; height: 100px;"></div>
  <H3>Notes</H3>
  <p>This interactive calculator was created by the author independently from and not associated with the school district.</p>
  <p>POF: The Proportional Obligation Factor for any given year equals the assessed value (AV) of the example property divided by the Total AV of the properties within the district's tax area.</p>
  <p>AV: AV is the assessed value of a property as assessed by the county assessor's office. The AV of a property is supposed to be the market value at the time of the assessment. 
  AVs are always a year behind. For example, the county assessor's office during the summer of 2024 is assessing properties to assign AVs to use in the 2025 tax year.</p>
  <p>Total AV: Total AV is the total assessed value of all private properties within the school district's tax area.</p>
  <p></p>
  <H3>Equations</H3>
  <p>Example Property's POF For The Year = {Example Property's AV For The Year} / {Total AV For The Year}</p>
  <p>Compounded annual POF change 2021 to 2024 = (({Example Property's POF 2024} / {Example Property's POF 2021} ** (1/3)) - 1)</p>
  <H3>Data Sources</H3>
  <p>The county assessor's annual tax reports and the DOR's (Department of Revenue's) tax reports</p>
  <!-- <p>The county assessor's website for historical property taxes</p> -->

 </body>
</html>

