<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input; // Table input to draw with parcel AV info
	var table;  // Short output table to draw for totals
	<!-- var chart; -->
	var dataParcel;
	
	totalLevyAV = 5260405000;
	sampleParcelAV = 500000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalLevyCost = 254765000;
	sampleParcelPOF = sampleParcelAV / totalLevyAV;
	totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
	levyYears = 20;
	averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
	// Total AV Annual Change Percent
	totalAVChange0 = 6.0;
	totalAVChange1 = 6.0;
	totalAVChange2 = 6.0;
	totalAVChange3 = 6.0;
	totalAVChange4 = 5.0;
	totalAVChange5 = 5.0;
	totalAVChange6 = 5.0;
	totalAVChange7 = 5.0;
	totalAVChange8 = 5.0;
	totalAVChange9 = 5.0;
	totalAVChange10 = 5.0;
	totalAVChange11 = 5.0;
	totalAVChange12 = 5.0;
	totalAVChange13 = 5.0;
	totalAVChange14 = 5.0;
	totalAVChange15 = 5.0;
	totalAVChange16 = 5.0;
	totalAVChange17 = 5.0;
	totalAVChange18 = 5.0;
	totalAVChange19 = 5.0;

	totalAVChangeMin = -20.0;
	totalAVChangeMax = 20.0;
	
	pofChange = 0



    function drawStuff() {
		// Levy 1 init
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'New Bond Amount');
		data.addColumn('number', 'Total AV');
		data.addColumn('number', 'Total AV Change Guess');
		data.addColumn('number', 'Resulting New Bond Tax Rate');
		data.addColumn('number', 'Example Property AV');
		data.addColumn('number', 'Example Property POF');
		data.addColumn('number', 'Example Property Bond Amount');

		data.addRows([
			['2024', 0, 5260405000, 0, 0, 500000, 0.00009505, 0],
			['2025', 7564000, 5576029300, 6, 1.36, 530000, 0.00009505, 719],
			['2026', 8027000, 5910591058, 6, 1.36, 561800, 0.00009505, 763],
			['2027', 8515000, 6265226521, 6, 1.36, 595508, 0.00009505, 809],
			['2028', 9026000, 6641140113, 6, 1.36, 631238, 0.00009505, 858],
			['2029', 9477000, 6973197118, 5, 1.36, 662800, 0.00009505, 901],
			['2030', 9951000, 7321856974, 5, 1.36, 695940, 0.00009505, 946],
			['2031', 10451000, 7687949823, 5, 1.36, 730737, 0.00009505, 993],
			['2032', 10974000, 8072347314, 5, 1.36, 767274, 0.00009505, 1043],
			['2033', 11521000, 8475964680, 5, 1.36, 805638, 0.00009505, 1095],
			['2034', 12096000, 8899762914, 5, 1.36, 845920, 0.00009505, 1150],
			['2035', 12698000, 9344751060, 5, 1.36, 888216, 0.00009505, 1207],
			['2036', 13337000, 9811988613, 5, 1.36, 932627, 0.00009505, 1268],
			['2037', 14002000, 10302588043, 5, 1.36, 979258, 0.00009505, 1331],
			['2038', 14704000, 10817717445, 5, 1.36, 1028221, 0.00009505, 1398],
			['2039', 15440000, 11358603318, 5, 1.36, 1079632, 0.00009505, 1468],
			['2040', 16208000, 11926533484, 5, 1.36, 1133614, 0.00009505, 1541],
			['2041', 17021000, 12522860158, 5, 1.36, 1190294, 0.00009505, 1618],
			['2042', 17872000, 13149003166, 5, 1.36, 1249809, 0.00009505, 1699],
			['2043', 18765000, 13806453324, 5, 1.36, 1312299, 0.00009505, 1784],
			['2044', 17116000, 14496775990, 5, 1.18, 1377914, 0.00009505, 1627],

		]);
		
		
		// Table Output General
		table_output = new google.visualization.DataTable();
		table_output.addColumn('string', 'Year');
		table_output.addColumn('number', 'Total AV');
		table_output.addColumn('number', 'Total AV <br> Change Guess');
		table_output.addColumn('number', 'New Bond <br> Amount');
		table_output.addColumn('number', 'Resulting New Bond<br> Tax Rate');
		table_output.addColumn('number', 'Example Property <br> AV');
		table_output.addColumn('number', 'Example Property <br> POF');
		table_output.addColumn('number', 'Example Property <br> New Bond Amount');

		table_output.addRows(levyYears + 1);
		for (let i = 0; i < levyYears + 1; i++) {
			table_output.setCell(i, 0, data.getValue(i, 0)); // Year
			table_output.setCell(i, 1, data.getValue(i, 2)); // Total AV
			table_output.setCell(i, 2, data.getValue(i, 3)); // Total AV Change
			table_output.setCell(i, 3, data.getValue(i, 1)); // New Bond Amount
			table_output.setCell(i, 4, data.getValue(i, 4)); // Rate
			table_output.setCell(i, 5, data.getValue(i, 5)); // Example Property AV
			table_output.setCell(i, 6, data.getValue(i, 6)); // Example Property POF
			table_output.setCell(i, 7, data.getValue(i, 7)); // Example Property Bond Amount
		
		}


		// Levy 1 parcel data
		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'New Bond Amount');

		dataParcel.addRows(levyYears + 1);
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		for (let i = 0; i < levyYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofChange/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;

		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		

		
		// Levy 1 input data
		// Example parcel AV table
		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Example Property 2024 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		// Total AV 0 Adjust table
		// Total AV 0 Adjust
		table_total_av_change_0_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_0_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_0_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_0_adjust_input_data.addRows([
			['2024 to 2025 Total AV Percent Change Guess', totalAVChange0 ],
		]);

		// Total AV 1 Adjust table
		// Total AV 1 Adjust
		table_total_av_change_1_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_1_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_1_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_1_adjust_input_data.addRows([
			['2025 to 2026 Total AV Percent Change Guess', totalAVChange1 ],
		]);

		// Total AV 2 Adjust table
		// Total AV 2 Adjust
		table_total_av_change_2_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_2_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_2_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_2_adjust_input_data.addRows([
			['2026 to 2027 Total AV Percent Change Guess', totalAVChange2 ],
		]);

		// Total AV 3 Adjust table
		// Total AV 3 Adjust
		table_total_av_change_3_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_3_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_3_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_3_adjust_input_data.addRows([
			['2027 to 2028 Total AV Percent Change Guess', totalAVChange3 ],
		]);

		// Total AV 4 Adjust table
		// Total AV 4 Adjust
		table_total_av_change_4_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_4_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_4_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_4_adjust_input_data.addRows([
			['2028 to 2029 Total AV Percent Change Guess', totalAVChange4 ],
		]);

		// Total AV 5 Adjust table
		// Total AV 5 Adjust
		table_total_av_change_5_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_5_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_5_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_5_adjust_input_data.addRows([
			['2029 to 2030 Total AV Percent Change Guess', totalAVChange5 ],
		]);

		// Total AV 6 Adjust table
		// Total AV 6 Adjust
		table_total_av_change_6_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_6_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_6_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_6_adjust_input_data.addRows([
			['2030 to 2031 Total AV Percent Change Guess', totalAVChange6 ],
		]);

		// Total AV 7 Adjust table
		// Total AV 7 Adjust
		table_total_av_change_7_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_7_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_7_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_7_adjust_input_data.addRows([
			['2031 to 2032 Total AV Percent Change Guess', totalAVChange7 ],
		]);

		// Total AV 8 Adjust table
		// Total AV 8 Adjust
		table_total_av_change_8_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_8_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_8_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_8_adjust_input_data.addRows([
			['2032 to 2033 Total AV Percent Change Guess', totalAVChange8 ],
		]);

		// Total AV 9 Adjust table
		// Total AV 9 Adjust
		table_total_av_change_9_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_9_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_9_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_9_adjust_input_data.addRows([
			['2033 to 2034 Total AV Percent Change Guess', totalAVChange9 ],
		]);

		// Total AV 10 Adjust table
		// Total AV 10 Adjust
		table_total_av_change_10_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_10_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_10_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_10_adjust_input_data.addRows([
			['2034 to 2035 Total AV Percent Change Guess', totalAVChange10 ],
		]);

		// Total AV 11 Adjust table
		// Total AV 11 Adjust
		table_total_av_change_11_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_11_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_11_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_11_adjust_input_data.addRows([
			['2035 to 2036 Total AV Percent Change Guess', totalAVChange11 ],
		]);

		// Total AV 12 Adjust table
		// Total AV 12 Adjust
		table_total_av_change_12_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_12_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_12_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_12_adjust_input_data.addRows([
			['2036 to 2037 Total AV Percent Change Guess', totalAVChange12 ],
		]);

		// Total AV 13 Adjust table
		// Total AV 13 Adjust
		table_total_av_change_13_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_13_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_13_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_13_adjust_input_data.addRows([
			['2037 to 2038 Total AV Percent Change Guess', totalAVChange13 ],
		]);

		// Total AV 14 Adjust table
		// Total AV 14 Adjust
		table_total_av_change_14_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_14_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_14_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_14_adjust_input_data.addRows([
			['2038 to 2049 Total AV Percent Change Guess', totalAVChange14 ],
		]);

		// Total AV 15 Adjust table
		// Total AV 15 Adjust
		table_total_av_change_15_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_15_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_15_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_15_adjust_input_data.addRows([
			['2039 to 2040 Total AV Percent Change Guess', totalAVChange15 ],
		]);

		// Total AV 16 Adjust table
		// Total AV 16 Adjust
		table_total_av_change_16_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_16_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_16_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_16_adjust_input_data.addRows([
			['2040 to 2041 Total AV Percent Change Guess', totalAVChange16 ],
		]);

		// Total AV 17 Adjust table
		// Total AV 17 Adjust
		table_total_av_change_17_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_17_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_17_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_17_adjust_input_data.addRows([
			['2041 to 2042 Total AV Percent Change Guess', totalAVChange17 ],
		]);

		// Total AV 18 Adjust table
		// Total AV 18 Adjust
		table_total_av_change_18_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_18_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_18_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_18_adjust_input_data.addRows([
			['2042 to 2043 Total AV Percent Change Guess', totalAVChange18 ],
		]);

		// Total AV 19 Adjust table
		// Total AV 19 Adjust
		table_total_av_change_19_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_19_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_19_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_19_adjust_input_data.addRows([
			['2043 to 2044 Total AV Percent Change Guess', totalAVChange19 ],
		]);

		// Levy 1 output table
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost for the owner of the example property', totalLevyCostParcel],
			['Average cost per year for 20 years', averageTotalLevyCostParcel],
		
		]);

		// Levy 1 chart
		<!-- chart = new google.visualization.ColumnChart(document.getElementById('chart_div')); -->
		formatter = new google.visualization.NumberFormat(
			{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, positiveColor: 'black', negativeColor: 'black', negativeParens: false});
		formatterPOF = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:6, negativeColor: 'red', negativeParens: false});
		formatterRate = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:2, negativeColor: 'red', negativeParens: false});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		//formatter.format(dataParcel, 2); // Apply formatter to third column
		<!-- chart.draw(dataParcel, options); -->
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		// Input table for sample parcel AV
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// Input table for POF change
		table_total_av_0_adjust_input = new google.visualization.Table(document.getElementById('table_pof_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_0_adjust_input.draw(table_total_av_change_0_adjust_input_data, {sort:'disable'});

		// Input table for POF 1 change
		table_total_av_1_adjust_input = new google.visualization.Table(document.getElementById('table_pof_1_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_1_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_1_adjust_input.draw(table_total_av_change_1_adjust_input_data, {sort:'disable'});

		// Input table for POF 2 change
		table_total_av_2_adjust_input = new google.visualization.Table(document.getElementById('table_pof_2_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_2_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_2_adjust_input.draw(table_total_av_change_2_adjust_input_data, {sort:'disable'});

		// Input table for POF 3 change
		table_total_av_3_adjust_input = new google.visualization.Table(document.getElementById('table_pof_3_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_3_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_3_adjust_input.draw(table_total_av_change_3_adjust_input_data, {sort:'disable'});

		// Input table for POF 4 change
		table_total_av_4_adjust_input = new google.visualization.Table(document.getElementById('table_pof_4_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_4_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_4_adjust_input.draw(table_total_av_change_4_adjust_input_data, {sort:'disable'});

		// Input table for POF 5 change
		table_total_av_5_adjust_input = new google.visualization.Table(document.getElementById('table_pof_5_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_5_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_5_adjust_input.draw(table_total_av_change_5_adjust_input_data, {sort:'disable'});

		// Input table for POF 6 change
		table_total_av_6_adjust_input = new google.visualization.Table(document.getElementById('table_pof_6_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_6_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_6_adjust_input.draw(table_total_av_change_6_adjust_input_data, {sort:'disable'});

		// Input table for POF 7 change
		table_total_av_7_adjust_input = new google.visualization.Table(document.getElementById('table_pof_7_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_7_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_7_adjust_input.draw(table_total_av_change_7_adjust_input_data, {sort:'disable'});

		// Input table for POF 8 change
		table_total_av_8_adjust_input = new google.visualization.Table(document.getElementById('table_pof_8_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_8_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_8_adjust_input.draw(table_total_av_change_8_adjust_input_data, {sort:'disable'});

		// Input table for POF 9 change
		table_total_av_9_adjust_input = new google.visualization.Table(document.getElementById('table_pof_9_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_9_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_9_adjust_input.draw(table_total_av_change_9_adjust_input_data, {sort:'disable'});

		// Input table for POF 10 change
		table_total_av_10_adjust_input = new google.visualization.Table(document.getElementById('table_pof_10_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_10_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_10_adjust_input.draw(table_total_av_change_10_adjust_input_data, {sort:'disable'});

		// Input table for POF 11 change
		table_total_av_11_adjust_input = new google.visualization.Table(document.getElementById('table_pof_11_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_11_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_11_adjust_input.draw(table_total_av_change_11_adjust_input_data, {sort:'disable'});

		// Input table for POF 12 change
		table_total_av_12_adjust_input = new google.visualization.Table(document.getElementById('table_pof_12_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_12_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_12_adjust_input.draw(table_total_av_change_12_adjust_input_data, {sort:'disable'});

		// Input table for POF 13 change
		table_total_av_13_adjust_input = new google.visualization.Table(document.getElementById('table_pof_13_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_13_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_13_adjust_input.draw(table_total_av_change_13_adjust_input_data, {sort:'disable'});

		// Input table for POF 14 change
		table_total_av_14_adjust_input = new google.visualization.Table(document.getElementById('table_pof_14_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_14_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_14_adjust_input.draw(table_total_av_change_14_adjust_input_data, {sort:'disable'});

		// Input table for POF 15 change
		table_total_av_15_adjust_input = new google.visualization.Table(document.getElementById('table_pof_15_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_15_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_15_adjust_input.draw(table_total_av_change_15_adjust_input_data, {sort:'disable'});

		// Input table for POF 16 change
		table_total_av_16_adjust_input = new google.visualization.Table(document.getElementById('table_pof_16_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_16_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_16_adjust_input.draw(table_total_av_change_16_adjust_input_data, {sort:'disable'});

		// Input table for POF 17 change
		table_total_av_17_adjust_input = new google.visualization.Table(document.getElementById('table_pof_17_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_17_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_17_adjust_input.draw(table_total_av_change_17_adjust_input_data, {sort:'disable'});

		// Input table for POF 18 change
		table_total_av_18_adjust_input = new google.visualization.Table(document.getElementById('table_pof_18_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_18_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_18_adjust_input.draw(table_total_av_change_18_adjust_input_data, {sort:'disable'});

		// Input table for POF 19 change
		table_total_av_19_adjust_input = new google.visualization.Table(document.getElementById('table_pof_19_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_19_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_19_adjust_input.draw(table_total_av_change_19_adjust_input_data, {sort:'disable'});

		// Output table general
		table_output_vis = new google.visualization.Table(document.getElementById('table_output_general_div'));
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		formatter.format(table_output, 3); // Apply formatter to Bond Amount column
		formatterRate.format(table_output, 4); // Apply formatter to Rate column
		formatter.format(table_output, 5); // Apply formatter to Example Property AV column
		formatterPOF.format(table_output, 6); // Apply formatter to Example Property POF column
		formatter.format(table_output, 7); // Apply formatter to Example Property Bond Amount column
		table_output_vis.draw(table_output, {sort:'disable'});
		
		changeParcelAV(0);
    }
	

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update chart 1
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		//totalLevyPriorCostParcel = 0;
		for (let i = 0; i < levyYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofChange/100) ** (1 + i);
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		<!-- chart.draw(dataParcel, options); -->
		
		//Update table output
		table_data.setValue(0, 1, totalLevyCostParcel); // Total levy cost parcel
		table_data.setValue(1, 1, averageTotalLevyCostParcel); // Average levy cost parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		//Update table output general
		table_output.setValue(1, 2, totalAVChange0);
		table_output.setValue(2, 2, totalAVChange1);
		table_output.setValue(3, 2, totalAVChange2);
		table_output.setValue(4, 2, totalAVChange3);
		table_output.setValue(5, 2, totalAVChange4);
		table_output.setValue(6, 2, totalAVChange5);
		table_output.setValue(7, 2, totalAVChange6);
		table_output.setValue(8, 2, totalAVChange7);
		table_output.setValue(9, 2, totalAVChange8);
		table_output.setValue(10, 2, totalAVChange9);
		table_output.setValue(11, 2, totalAVChange10);
		table_output.setValue(12, 2, totalAVChange11);
		table_output.setValue(13, 2, totalAVChange12);
		table_output.setValue(14, 2, totalAVChange13);
		table_output.setValue(15, 2, totalAVChange14);
		table_output.setValue(16, 2, totalAVChange15);
		table_output.setValue(17, 2, totalAVChange16);
		table_output.setValue(18, 2, totalAVChange17);
		table_output.setValue(19, 2, totalAVChange18);
		table_output.setValue(20, 2, totalAVChange19);
		table_output.setValue(0, 5, sampleParcelAV);
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		// Total AV update
		for (let i = 1; i < levyYears + 1; i++) {
			newTotalAV = table_output.getValue(i-1,1) * (1 + table_output.getValue(i, 2)/100)
			table_output.setValue(i, 1, newTotalAV);
		}
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		// Rate update
		for (let i = 0; i < levyYears + 1; i++) {
			newRate = table_output.getValue(i,3) / table_output.getValue(i,1) * 1000
			table_output.setValue(i, 4, newRate);
		}
		formatterRate.format(table_output, 4); // Apply formatter to Rate column
		// Example Property AV update
		for (let i = 1; i < levyYears + 1; i++) {
			newExPropAV = table_output.getValue(i-1,5) * (1 + table_output.getValue(i,2) / 100)
			table_output.setValue(i, 5, newExPropAV);
		}
		formatter.format(table_output, 5); // Apply formatter to Ex Prop AV column
		// Example Property POF update
		for (let i = 0; i < levyYears + 1; i++) {
			newExPropPOF = table_output.getValue(i,5) / table_output.getValue(i,1)
			table_output.setValue(i, 6, newExPropPOF);
		}
		formatterPOF.format(table_output, 6); // Apply formatter to Ex Prop POF column
		// Example Property Levy Amount update
		for (let i = 0; i < levyYears + 1; i++) {
			newExPropLevyAmount = table_output.getValue(i,5) * table_output.getValue(i,4) / 1000
			table_output.setValue(i, 7, newExPropLevyAmount);
		}
		formatter.format(table_output, 7); // Apply formatter to Ex Prop Levy Amount column
	
		//table_output.setValue(1, 2, totalAVChange0);
		table_output_vis.draw(table_output, {sort:'disable',allowHtml:'true'});
    }
	
	function changeTotalAVChange(dir) {
		totalAVChange0 = totalAVChange0 + dir;
		if (totalAVChange0 < totalAVChangeMin)
			totalAVChange0 = totalAVChangeMin;
		if (totalAVChange0 > totalAVChangeMax)
			totalAVChange0 = totalAVChangeMax;
		table_total_av_change_0_adjust_input_data.setValue(0, 1, totalAVChange0);
		formatterPercent1.format(table_total_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_0_adjust_input.draw(table_total_av_change_0_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange1(dir) {
		totalAVChange1 = totalAVChange1 + dir;
		if (totalAVChange1 < totalAVChangeMin)
			totalAVChange1 = totalAVChangeMin;
		if (totalAVChange1 > totalAVChangeMax)
			totalAVChange1 = totalAVChangeMax;
		table_total_av_change_1_adjust_input_data.setValue(0, 1, totalAVChange1);
		formatterPercent1.format(table_total_av_change_1_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_1_adjust_input.draw(table_total_av_change_1_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange2(dir) {
		totalAVChange2 = totalAVChange2 + dir;
		if (totalAVChange2 < totalAVChangeMin)
			totalAVChange2 = totalAVChangeMin;
		if (totalAVChange2 > totalAVChangeMax)
			totalAVChange2 = totalAVChangeMax;
		table_total_av_change_2_adjust_input_data.setValue(0, 1, totalAVChange2);
		formatterPercent1.format(table_total_av_change_2_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_2_adjust_input.draw(table_total_av_change_2_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange3(dir) {
		totalAVChange3 = totalAVChange3 + dir;
		if (totalAVChange3 < totalAVChangeMin)
			totalAVChange3 = totalAVChangeMin;
		if (totalAVChange3 > totalAVChangeMax)
			totalAVChange3 = totalAVChangeMax;
		table_total_av_change_3_adjust_input_data.setValue(0, 1, totalAVChange3);
		formatterPercent1.format(table_total_av_change_3_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_3_adjust_input.draw(table_total_av_change_3_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange4(dir) {
		totalAVChange4 = totalAVChange4 + dir;
		if (totalAVChange4 < totalAVChangeMin)
			totalAVChange4 = totalAVChangeMin;
		if (totalAVChange4 > totalAVChangeMax)
			totalAVChange4 = totalAVChangeMax;
		table_total_av_change_4_adjust_input_data.setValue(0, 1, totalAVChange4);
		formatterPercent1.format(table_total_av_change_4_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_4_adjust_input.draw(table_total_av_change_4_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange5(dir) {
		totalAVChange5 = totalAVChange5 + dir;
		if (totalAVChange5 < totalAVChangeMin)
			totalAVChange5 = totalAVChangeMin;
		if (totalAVChange5 > totalAVChangeMax)
			totalAVChange5 = totalAVChangeMax;
		table_total_av_change_5_adjust_input_data.setValue(0, 1, totalAVChange5);
		formatterPercent1.format(table_total_av_change_5_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_5_adjust_input.draw(table_total_av_change_5_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange6(dir) {
		totalAVChange6 = totalAVChange6 + dir;
		if (totalAVChange6 < totalAVChangeMin)
			totalAVChange6 = totalAVChangeMin;
		if (totalAVChange6 > totalAVChangeMax)
			totalAVChange6 = totalAVChangeMax;
		table_total_av_change_6_adjust_input_data.setValue(0, 1, totalAVChange6);
		formatterPercent1.format(table_total_av_change_6_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_6_adjust_input.draw(table_total_av_change_6_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange7(dir) {
		totalAVChange7 = totalAVChange7 + dir;
		if (totalAVChange7 < totalAVChangeMin)
			totalAVChange7 = totalAVChangeMin;
		if (totalAVChange7 > totalAVChangeMax)
			totalAVChange7 = totalAVChangeMax;
		table_total_av_change_7_adjust_input_data.setValue(0, 1, totalAVChange7);
		formatterPercent1.format(table_total_av_change_7_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_7_adjust_input.draw(table_total_av_change_7_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange8(dir) {
		totalAVChange8 = totalAVChange8 + dir;
		if (totalAVChange8 < totalAVChangeMin)
			totalAVChange8 = totalAVChangeMin;
		if (totalAVChange8 > totalAVChangeMax)
			totalAVChange8 = totalAVChangeMax;
		table_total_av_change_8_adjust_input_data.setValue(0, 1, totalAVChange8);
		formatterPercent1.format(table_total_av_change_8_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_8_adjust_input.draw(table_total_av_change_8_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange9(dir) {
		totalAVChange9 = totalAVChange9 + dir;
		if (totalAVChange9 < totalAVChangeMin)
			totalAVChange9 = totalAVChangeMin;
		if (totalAVChange9 > totalAVChangeMax)
			totalAVChange9 = totalAVChangeMax;
		table_total_av_change_9_adjust_input_data.setValue(0, 1, totalAVChange9);
		formatterPercent1.format(table_total_av_change_9_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_9_adjust_input.draw(table_total_av_change_9_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange10(dir) {
		totalAVChange10 = totalAVChange10 + dir;
		if (totalAVChange10 < totalAVChangeMin)
			totalAVChange10 = totalAVChangeMin;
		if (totalAVChange10 > totalAVChangeMax)
			totalAVChange10 = totalAVChangeMax;
		table_total_av_change_10_adjust_input_data.setValue(0, 1, totalAVChange10);
		formatterPercent1.format(table_total_av_change_10_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_10_adjust_input.draw(table_total_av_change_10_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange11(dir) {
		totalAVChange11 = totalAVChange11 + dir;
		if (totalAVChange11 < totalAVChangeMin)
			totalAVChange11 = totalAVChangeMin;
		if (totalAVChange11 > totalAVChangeMax)
			totalAVChange11 = totalAVChangeMax;
		table_total_av_change_11_adjust_input_data.setValue(0, 1, totalAVChange11);
		formatterPercent1.format(table_total_av_change_11_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_11_adjust_input.draw(table_total_av_change_11_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange12(dir) {
		totalAVChange12 = totalAVChange12 + dir;
		if (totalAVChange12 < totalAVChangeMin)
			totalAVChange12 = totalAVChangeMin;
		if (totalAVChange12 > totalAVChangeMax)
			totalAVChange12 = totalAVChangeMax;
		table_total_av_change_12_adjust_input_data.setValue(0, 1, totalAVChange12);
		formatterPercent1.format(table_total_av_change_12_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_12_adjust_input.draw(table_total_av_change_12_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange13(dir) {
		totalAVChange13 = totalAVChange13 + dir;
		if (totalAVChange13 < totalAVChangeMin)
			totalAVChange13 = totalAVChangeMin;
		if (totalAVChange13 > totalAVChangeMax)
			totalAVChange13 = totalAVChangeMax;
		table_total_av_change_13_adjust_input_data.setValue(0, 1, totalAVChange13);
		formatterPercent1.format(table_total_av_change_13_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_13_adjust_input.draw(table_total_av_change_13_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange14(dir) {
		totalAVChange14 = totalAVChange14 + dir;
		if (totalAVChange14 < totalAVChangeMin)
			totalAVChange14 = totalAVChangeMin;
		if (totalAVChange14 > totalAVChangeMax)
			totalAVChange14 = totalAVChangeMax;
		table_total_av_change_14_adjust_input_data.setValue(0, 1, totalAVChange14);
		formatterPercent1.format(table_total_av_change_14_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_14_adjust_input.draw(table_total_av_change_14_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange15(dir) {
		totalAVChange15 = totalAVChange15 + dir;
		if (totalAVChange15 < totalAVChangeMin)
			totalAVChange15 = totalAVChangeMin;
		if (totalAVChange15 > totalAVChangeMax)
			totalAVChange15 = totalAVChangeMax;
		table_total_av_change_15_adjust_input_data.setValue(0, 1, totalAVChange15);
		formatterPercent1.format(table_total_av_change_15_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_15_adjust_input.draw(table_total_av_change_15_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange16(dir) {
		totalAVChange16 = totalAVChange16 + dir;
		if (totalAVChange16 < totalAVChangeMin)
			totalAVChange16 = totalAVChangeMin;
		if (totalAVChange16 > totalAVChangeMax)
			totalAVChange16 = totalAVChangeMax;
		table_total_av_change_16_adjust_input_data.setValue(0, 1, totalAVChange16);
		formatterPercent1.format(table_total_av_change_16_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_16_adjust_input.draw(table_total_av_change_16_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange17(dir) {
		totalAVChange17 = totalAVChange17 + dir;
		if (totalAVChange17 < totalAVChangeMin)
			totalAVChange17 = totalAVChangeMin;
		if (totalAVChange17 > totalAVChangeMax)
			totalAVChange17 = totalAVChangeMax;
		table_total_av_change_17_adjust_input_data.setValue(0, 1, totalAVChange17);
		formatterPercent1.format(table_total_av_change_17_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_17_adjust_input.draw(table_total_av_change_17_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange18(dir) {
		totalAVChange18 = totalAVChange18 + dir;
		if (totalAVChange18 < totalAVChangeMin)
			totalAVChange18 = totalAVChangeMin;
		if (totalAVChange18 > totalAVChangeMax)
			totalAVChange18 = totalAVChangeMax;
		table_total_av_change_18_adjust_input_data.setValue(0, 1, totalAVChange18);
		formatterPercent1.format(table_total_av_change_18_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_18_adjust_input.draw(table_total_av_change_18_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange19(dir) {
		totalAVChange19 = totalAVChange19 + dir;
		if (totalAVChange19 < totalAVChangeMin)
			totalAVChange19 = totalAVChangeMin;
		if (totalAVChange19 > totalAVChangeMax)
			totalAVChange19 = totalAVChangeMax;
		table_total_av_change_19_adjust_input_data.setValue(0, 1, totalAVChange19);
		formatterPercent1.format(table_total_av_change_19_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_19_adjust_input.draw(table_total_av_change_19_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the August 6th 2024 bond measure proposed by the Lynden SD</H2>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <!-- <p></p> -->
  <input type="button" value="+" onclick="changeParcelAV(25000)" />
  <input type="button" value="-" onclick="changeParcelAV(-25000)" />
  <p></p>
  <div id="table_pof_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange(-0.2)" />
  <div id="table_pof_1_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange1(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange1(-0.2)" />
  <div id="table_pof_2_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange2(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange2(-0.2)" />
  <div id="table_pof_3_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange3(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange3(-0.2)" />
  <div id="table_pof_4_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange4(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange4(-0.2)" />
  <div id="table_pof_5_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange5(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange5(-0.2)" />
  <div id="table_pof_6_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange6(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange6(-0.2)" />
  <div id="table_pof_7_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange7(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange7(-0.2)" />
  <div id="table_pof_8_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange8(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange8(-0.2)" />
  <div id="table_pof_9_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange9(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange9(-0.2)" />
  <div id="table_pof_10_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange10(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange10(-0.2)" />
  <div id="table_pof_11_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange11(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange11(-0.2)" />
  <div id="table_pof_12_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange12(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange12(-0.2)" />
  <div id="table_pof_13_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange13(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange13(-0.2)" />
  <div id="table_pof_14_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange14(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange14(-0.2)" />
  <div id="table_pof_15_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange15(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange15(-0.2)" />
  <div id="table_pof_16_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange16(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange16(-0.2)" />
  <div id="table_pof_17_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange17(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange17(-0.2)" />
  <div id="table_pof_18_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange18(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange18(-0.2)" />
  <div id="table_pof_19_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange19(0.2)" />
  <input type="button" value="-" onclick="changeTotalAVChange19(-0.2)" />
  <p></p>
  <H3>Output</H3>
  <!-- <H3>Enrichment Levy</H3> -->
  <p>Estimated obligations for the example property</P>
  <div id="table_output_general_div" style="width:1200px; height: 600px;"></div>
  <div id="table_output_div" style="width:2000px; height: 200px;"></div>
  <!-- <div id="chart_div" style="width:800px; height: 640px;"></div> -->
  <!-- <p>POF: Proportional Obligation Factor equals the assessed value (AV) of the sample parcel divided by the Total AV of the properties within the district's tax area.</p> -->
  <H3>Notes</H3>
  <p>This interactive calculator was created by the author independently from and not associated with the school district.</p>
  <p>POF: Proportional Obligation Factor equals the assessed value (AV) of the example property divided by the Total AV of the properties within the district's tax area.</p>
  <p>Notice how changing the Total AV Change percent guesses affects the calculated rates but not the bond amounts for the owner of the example property. </p>
  <p>The one important assumption in this calculator is that the example property's AV rises and falls at the same pace as the overall Total AV.</p>
  <p></p>
  <H3>Equations</H3>
  <p>There are 2 ways to calculate the property tax for a given year for a given property. They are equivalent.</p>
  <p>For any given year:</p>
  <p>POF = {Example Property AV} / {Total AV}</p>
  <p>Example Property New Bond Amount = {POF} X {New Bond Amount}</p>
  <p>Resulting New Bond Tax Rate = {New Bond Amount} / {Total AV} X 1,000</p>
  <p>Example Property New Bond Amount = {Resulting New Bond Tax Rate} X {Example Property AV} / 1,000</p>
  <H3>Data Sources</H3>
  <p>The district's bond/levy projection datasheet</p>
  <!-- <p>The county assessor's website for historical property taxes</p> -->

 </body>
</html>

