<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	//var data;
	var dataParcel;
	
	totalBondAV = 2466986000;
	sampleParcelAV = 500000;
	sampleParcelAVMin =  100000;
	sampleParcelAVMax = 2000000;
	totalBondPrincipal = 96150000;
	totalBondInterest = 49498101;
	totalBondCost = totalBondPrincipal + totalBondInterest;
	sampleParcelPOF = sampleParcelAV / totalBondAV;
	totalBondCostParcel = sampleParcelPOF * totalBondCost;
	totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
	totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
	bondYears = 24;
	averageTotalBondCostParcel = totalBondCostParcel / bondYears;
	

    function drawStuff() {
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Principal');
		data.addColumn('number', 'Interest');

		data.addRows([
			['2023', 1164585, 3086415],
			['2024', 1325968, 3049031],
			['2025', 1487531, 3006468],
			['2026', 1668281, 2958718],
			['2027', 1861833, 2905166],
			['2028', 2065598, 2845401],
			['2029', 2275903, 2779096],
			['2030', 2500960, 2706039],
			['2031', 2739241, 2625758],
			['2032', 2985170, 2537829],
			['2033', 3249994, 2442005],
			['2034', 3520319, 2337680],
			['2035', 3810321, 2224678],
			['2036', 4116633, 2102366],
			['2037', 4434777, 1970222],
			['2038', 4770133, 1827866],
			['2039', 5118254, 1674745],
			['2040', 5486550, 1510449],
			['2041', 5875669, 1334330],
			['2042', 6280278, 1145721],
			['2043', 6700875, 944124],
			['2044', 7145973, 729026],
			['2045', 7611358, 499641],
			['2046', 7965683, 255316],

		]);

		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Principal');
		dataParcel.addColumn('number', 'Interest');

		dataParcel.addRows(24);

		for (let i = 0; i < 24; i++) {
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOF);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOF);
		}		


		options = {
			title: 'Estimated Bond Cost To The Owner Of The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  

		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample parcel 2022 assessed value (AV)', sampleParcelAV],
		]);

		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost for parcel owner', totalBondCostParcel],
			['Average cost per year for parcel owner', averageTotalBondCostParcel],
			['Total principal cost for parcel owner', totalBondPrincipalParcel],
			['Total interest cost for parcel owner', totalBondInterestParcel],
		]);

	  
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});
    }

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update table output
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		totalBondCostParcel = sampleParcelPOF * totalBondCost;
		totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
		totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;
		table_data.setValue(0, 1, totalBondCostParcel); // Total bond cost parcel
		table_data.setValue(1, 1, averageTotalBondCostParcel); // Average cost per year for parcel
		table_data.setValue(2, 1, totalBondPrincipalParcel); // Total principal for parcel
		table_data.setValue(3, 1, totalBondInterestParcel); // Total interest for parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);
		//Update chart
		for (let i = 0; i < 24; i++) {
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOF);
			dataParcel.setValue(i, 2, data.getValue(i, 2) * sampleParcelPOF);
		}		
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
    }
  </script>
 </head>
 <body>
  <p>Input</p>
  <div id="table_input_div" style="width:1200px; height: 75px;"></div>
  <input type="button" value="Increase Sample Parcel 2022 AV" onclick="changeParcelAV(50000)" />
  <input type="button" value="Decrease Sample Parcel 2022 AV" onclick="changeParcelAV(-50000)" />
  <p>Output</p>
  <div id="table_output_div" style="width:1200px; height: 140px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
 </body>
</html>

