<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	//var data;
	var dataParcel;
	
	totalLevyAV = 40840043699;
	sampleParcelAV = 1100000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalLevyCost = 262000000;
	totalLevy2Cost = 141310000;
	totalLevy3Cost = 3000000;
	sampleParcelPOF = sampleParcelAV / totalLevyAV;
	totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
	totalLevy2CostParcel = sampleParcelPOF * totalLevy2Cost;
	totalLevy3CostParcel = sampleParcelPOF * totalLevy3Cost;
	levyYears = 4;
	levy2Years = 4;
	levy3Years = 1;
	averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
	averageTotalLevy2CostParcel = totalLevy2CostParcel / levy2Years;
	averageTotalLevy3CostParcel = totalLevy3CostParcel / levy3Years;
	

    function drawStuff() {
		// Levy 1 schedule
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Amount');

		data.addRows([
			['2023', 61000000],
			['2024', 64000000],
			['2025', 67000000],
			['2026', 70000000],

		]);

		// Levy 2 schedule
		data2 = new google.visualization.DataTable();
		data2.addColumn('string', 'Year');
		data2.addColumn('number', 'Amount');

		data2.addRows([
			['2023', 31472000],
			['2024', 35957000],
			['2025', 36561000],
			['2026', 37320000],

		]);

		// Levy 3 schedule
		data3 = new google.visualization.DataTable();
		data3.addColumn('string', 'Year');
		data3.addColumn('number', 'Amount');

		data3.addRows([
			['2023', 3000000],

		]);

		// Levy 1 parcel data
		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Amount');

		dataParcel.addRows(levyYears);

		for (let i = 0; i < levyYears; i++) {
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOF);
		}		


		options = {
			title: 'Estimated Levy Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		// Levy 2 parcel data
		data2Parcel = new google.visualization.DataTable();
		data2Parcel.addColumn('string', 'Year');
		data2Parcel.addColumn('number', 'Amount');

		data2Parcel.addRows(levy2Years);

		for (let i = 0; i < levy2Years; i++) {
			data2Parcel.setCell(i, 0, data2.getValue(i, 0));
			data2Parcel.setCell(i, 1, data2.getValue(i, 1) * sampleParcelPOF);
		}		


		options2 = {
			title: 'Estimated Levy Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
		
		// Levy 3 parcel data
		data3Parcel = new google.visualization.DataTable();
		data3Parcel.addColumn('string', 'Year');
		data3Parcel.addColumn('number', 'Amount');

		data3Parcel.addRows(levy3Years);

		for (let i = 0; i < levy3Years; i++) {
			data3Parcel.setCell(i, 0, data3.getValue(i, 0));
			data3Parcel.setCell(i, 1, data3.getValue(i, 1) * sampleParcelPOF);
		}		


		options3 = {
			title: 'Estimated Levy Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
		
		
		// Levy 1 and 2 input data
		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample parcel 2022 assessed value (AV)', sampleParcelAV],
		]);

		
		// Levy 1 output table
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost', totalLevyCostParcel],
			['Average cost per year for 4 years', averageTotalLevyCostParcel],
		]);

		// Levy 2 output table
		table2_data = new google.visualization.DataTable();
		table2_data.addColumn('string', 'Description');
		table2_data.addColumn('number', 'Value');
		table2_data.addRows([
			['Total cost', totalLevy2CostParcel],
			['Average cost per year for 4 years', averageTotalLevy2CostParcel],
		]);
	  
		// Levy 3 output table
		table3_data = new google.visualization.DataTable();
		table3_data.addColumn('string', 'Description');
		table3_data.addColumn('number', 'Value');
		table3_data.addRows([
			['Total cost', totalLevy3CostParcel],
			['Average cost per year for 1 year', averageTotalLevy3CostParcel],
		]);
	  
		// Levy 1 chart
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// Levy 2 chart
		chart2 = new google.visualization.ColumnChart(document.getElementById('chart2_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(data2Parcel, 1); // Apply formatter to second column
		chart2.draw(data2Parcel, options);
		
		table2 = new google.visualization.Table(document.getElementById('table2_output_div'));
		formatter.format(table2_data, 1); // Apply formatter to second column
		table2.draw(table2_data, {sort:'disable'});
		
		// Levy 3 chart
		chart3 = new google.visualization.ColumnChart(document.getElementById('chart3_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(data3Parcel, 1); // Apply formatter to second column
		chart3.draw(data3Parcel, options);
		
		table3 = new google.visualization.Table(document.getElementById('table3_output_div'));
		formatter.format(table3_data, 1); // Apply formatter to second column
		table3.draw(table3_data, {sort:'disable'});
		
    }

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update table output
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		table_data.setValue(0, 1, totalLevyCostParcel); // Total levy cost parcel
		table_data.setValue(1, 1, averageTotalLevyCostParcel); // Average cost per year for parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);
		//Update chart
		for (let i = 0; i < levyYears; i++) {
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOF);
		}		
		formatter.format(dataParcel, 1); // Apply formatter to second column
		chart.draw(dataParcel, options);
		//Update table 2 output
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		totalLevy2CostParcel = sampleParcelPOF * totalLevy2Cost;
		averageTotalLevy2CostParcel = totalLevy2CostParcel / levy2Years;
		table2_data.setValue(0, 1, totalLevy2CostParcel); // Total levy cost parcel
		table2_data.setValue(1, 1, averageTotalLevy2CostParcel); // Average cost per year for parcel
		formatter.format(table2_data, 1); // Apply formatter to second column
		table2.draw(table2_data);
		//Update chart 2
		for (let i = 0; i < levy2Years; i++) {
			data2Parcel.setValue(i, 0, data2.getValue(i, 0));
			data2Parcel.setValue(i, 1, data2.getValue(i, 1) * sampleParcelPOF);
		}		
		formatter.format(data2Parcel, 1); // Apply formatter to second column
		chart2.draw(data2Parcel, options2);
		//Update table 3 output
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		totalLevy3CostParcel = sampleParcelPOF * totalLevy3Cost;
		averageTotalLevy3CostParcel = totalLevy3CostParcel / levy3Years;
		table3_data.setValue(0, 1, totalLevy3CostParcel); // Total levy cost parcel
		table3_data.setValue(1, 1, averageTotalLevy3CostParcel); // Average cost per year for parcel
		formatter.format(table3_data, 1); // Apply formatter to second column
		table3.draw(table3_data);
		//Update chart 3
		for (let i = 0; i < levy3Years; i++) {
			data3Parcel.setValue(i, 0, data3.getValue(i, 0));
			data3Parcel.setValue(i, 1, data3.getValue(i, 1) * sampleParcelPOF);
		}		
		formatter.format(data2Parcel, 1); // Apply formatter to second column
		chart3.draw(data3Parcel, options3);
    }
  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the April 26th 2022 levy measures proposed by the Issaquah SD</H2>
  <p>Created by the author independently from and not associated with the school district</p>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 75px;"></div>
  <input type="button" value="Increase Sample Parcel 2022 AV" onclick="changeParcelAV(50000)" />
  <input type="button" value="Decrease Sample Parcel 2022 AV" onclick="changeParcelAV(-50000)" />
  <H3>Output</H3>
  <H3>Enrichment Levy</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
  <H3>Capital Levy</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table2_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart2_div" style="width:800px; height: 640px;"></div>
  <H3>Transportation Levy</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table3_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart3_div" style="width:800px; height: 640px;"></div>
  <H3>Data Sources</H3>
  <p>District's levy resolutions</p>
 </body>
</html>

