<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	//var data;
	var dataParcel;
	
	totalBondAV = 472422000;
	sampleParcelAV = 450000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalBondPrincipal = 12300000;
	totalBondInterest = 6411000;
	totalBondCost = totalBondPrincipal + totalBondInterest;
	sampleParcelPOF = sampleParcelAV / totalBondAV;
	totalBondCostParcel = sampleParcelPOF * totalBondCost;
	totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
	totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
	bondYears = 19;
	averageTotalBondCostParcel = totalBondCostParcel / bondYears;
	

    function drawStuff() {
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Principal');
		data.addColumn('number', 'Interest + Fees');

		data.addRows([
			['2023', 315367, 537633],
			['2024', 350152, 523848],
			['2025', 375457, 508543],
			['2026', 404868, 492132],
			['2027', 439565, 474435],
			['2028', 468778, 455222],
			['2029', 503268, 434732],
			['2030', 542266, 412734],
			['2031', 575969, 389031],
			['2032', 619144, 363856],
			['2033', 657207, 336793],
			['2034', 704934, 308066],
			['2035', 747746, 277254],
			['2036', 799430, 244570],
			['2037', 846374, 209626],
			['2038', 902368, 172632],
			['2039', 957811, 133189],
			['2040', 1012677, 91323],
			['2041', 1076941, 47059],

		]);

		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Principal');
		dataParcel.addColumn('number', 'Interest + Fees');

		dataParcel.addRows(bondYears);

		for (let i = 0; i < bondYears; i++) {
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOF);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOF);
		}		


		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  

		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample parcel 2022 assessed value (AV)', sampleParcelAV],
		]);

		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost', totalBondCostParcel],
			['Average cost per year for 19 years', averageTotalBondCostParcel],
			['Total principal cost', totalBondPrincipalParcel],
			['Total interest + fees cost', totalBondInterestParcel],
		]);

	  
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});
    }

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update table output
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		totalBondCostParcel = sampleParcelPOF * totalBondCost;
		totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
		totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;
		table_data.setValue(0, 1, totalBondCostParcel); // Total bond cost parcel
		table_data.setValue(1, 1, averageTotalBondCostParcel); // Average cost per year for parcel
		table_data.setValue(2, 1, totalBondPrincipalParcel); // Total principal for parcel
		table_data.setValue(3, 1, totalBondInterestParcel); // Total interest + fees for parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);
		//Update chart
		for (let i = 0; i < bondYears; i++) {
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOF);
			dataParcel.setValue(i, 2, data.getValue(i, 2) * sampleParcelPOF);
		}		
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
    }
  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the April 26th 2022 bond measure proposed by the Quilcene SD</H2>
  <p>Created by the author independently and not associated with the school district</p>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 75px;"></div>
  <input type="button" value="Increase Sample Parcel 2022 AV" onclick="changeParcelAV(50000)" />
  <input type="button" value="Decrease Sample Parcel 2022 AV" onclick="changeParcelAV(-50000)" />
  <H3>Output</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
  <H3>Data Sources</H3>
  <p>District's bond/levy projection datasheet obtained from a public records request</p>
 </body>
</html>

