<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	var dataParcel;
	
	totalLevyAV = 1031502897;
	sampleParcelAV = 500000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalLevyCost = 5350000;
	sampleParcelPOF = sampleParcelAV / totalLevyAV;
	totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
	levyYears = 3;
	averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
	totalLevyPriorCost = 3446518;
	totalLevyPriorCostParcel = sampleParcelPOF * totalLevyPriorCost;
	averageTotalLevyPriorCostParcel = totalLevyPriorCostParcel / levyYears;
	// POF Annual Change Percent
	pofAdjust = 0;
	pofAdjustMin = -2.0;
	pofAdjustMax = 2.0;



    function drawStuff() {
		// Levy 1 schedule
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Prior Levy Amount');
		data.addColumn('number', 'New Levy Amount');

		data.addRows([
			['2022', 1100006, 0],
			['2023', 1149969, 0],
			['2024', 1196543, 0],
			['2025', 0, 1640000],
			['2026', 0, 1780000],
			['2027', 0, 1930000],

		]);

		// Levy 1 parcel data
		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Prior Levy Amount');
		dataParcel.addColumn('number', 'New Levy Amount');

		dataParcel.addRows(levyYears * 2);
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		totalLevyPriorCostParcel = 0;
		for (let i = 0; i < levyYears * 2; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i - levyYears);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 2) * sampleParcelPOFEffective;
			totalLevyPriorCostParcel = totalLevyPriorCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		averageTotalLevyPriorCostParcel = totalLevyPriorCostParcel / levyYears;

		options = {
			title: 'Estimated Levy Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		

		
		// Levy 1 input data
		// Sampler parcel AV table
		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample Parcel 2024 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		// POF Adjust table
		// POF Adjust
		table_pof_adjust_input_data = new google.visualization.DataTable();
		table_pof_adjust_input_data.addColumn('string', 'Description');
		table_pof_adjust_input_data.addColumn('number', 'Value');
		table_pof_adjust_input_data.addRows([
			['POF annual change', pofAdjust ],
		]);

		// Levy 1 output table
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Prior');
		table_data.addColumn('number', 'New');
		table_data.addColumn('number', 'Delta');
		table_data.addColumn('number', 'Percent Change');
		table_data.addRows([
			['Total cost', totalLevyPriorCostParcel, totalLevyCostParcel, totalLevyCostParcel-totalLevyPriorCostParcel, (totalLevyCostParcel-totalLevyPriorCostParcel)/totalLevyPriorCostParcel*100],
			['Average cost per year for 3 years', averageTotalLevyPriorCostParcel, averageTotalLevyCostParcel, (averageTotalLevyCostParcel-averageTotalLevyPriorCostParcel),(averageTotalLevyCostParcel-averageTotalLevyPriorCostParcel)/averageTotalLevyPriorCostParcel*100],
		
		]);

		// Levy 1 chart
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
			{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, negativeColor: 'red', negativeParens: false});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		formatter.format(table_data, 2); // Apply formatter to second column
		formatter.format(table_data, 3); // Apply formatter to second column
		formatterPercent.format(table_data, 4); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		// Input table for sample parcel AV
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// Input table for POF change
		table_pof_adjust_input = new google.visualization.Table(document.getElementById('table_pof_adjust_input_div'));
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data, {sort:'disable'});
    }

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update chart 1
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		totalLevyPriorCostParcel = 0;
		for (let i = 0; i < levyYears * 2; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i - levyYears);
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setValue(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 2) * sampleParcelPOFEffective;
			totalLevyPriorCostParcel = totalLevyPriorCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		averageTotalLevyPriorCostParcel = totalLevyPriorCostParcel / levyYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2);
		chart.draw(dataParcel, options);
		
		//Update table output
		table_data.setValue(0, 1, totalLevyPriorCostParcel); // Total levy prior cost parcel
		table_data.setValue(0, 2, totalLevyCostParcel); // Total levy cost parcel
		table_data.setValue(0, 3, (totalLevyCostParcel-totalLevyPriorCostParcel)); // Delta
		table_data.setValue(0, 4, (totalLevyCostParcel-totalLevyPriorCostParcel)/totalLevyPriorCostParcel*100); // Percent change
		table_data.setValue(1, 1, averageTotalLevyPriorCostParcel); // Average levy prior cost parcel
		table_data.setValue(1, 2, averageTotalLevyCostParcel); // Average levy cost parcel
		table_data.setValue(1, 3, (averageTotalLevyCostParcel-averageTotalLevyPriorCostParcel)); // Delta
		table_data.setValue(1, 4, (averageTotalLevyCostParcel-averageTotalLevyPriorCostParcel)/averageTotalLevyPriorCostParcel*100); // Percent change
		formatter.format(table_data, 1); // Apply formatter to second column
		formatter.format(table_data, 2); // Apply formatter to third column
		formatter.format(table_data, 3); // Apply formatter to fourth column
		formatterPercent.format(table_data, 4); // Apply formatter to fifth column
		table.draw(table_data);
    }
	
	function changePOFChange(dir) {
		pofAdjust = pofAdjust + dir;
		if (pofAdjust < pofAdjustMin)
			pofAdjust = pofAdjustMin;
		if (pofAdjust > pofAdjustMax)
			pofAdjust = pofAdjustMax;
		table_pof_adjust_input_data.setValue(0, 1, pofAdjust);
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the April 23rd 2024 levy measure proposed by the Toledo SD</H2>
  <p>Created by the author independently from and not associated with the school district</p>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <p></p>
  <input type="button" value="Increase Sample Parcel 2024 Tax Year AV" onclick="changeParcelAV(25000)" />
  <input type="button" value="Decrease Sample Parcel 2024 Tax Year AV" onclick="changeParcelAV(-25000)" />
  <p></p>
  <div id="table_pof_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="Increase POF Annual Change" onclick="changePOFChange(0.1)" />
  <input type="button" value="Decrease POF Annual Change" onclick="changePOFChange(-0.1)" />
  <p></p>
  <H3>Output</H3>
  <H3>Enrichment Levy</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
  <p>POF: Proportional Obligation Factor equals the assessed value (AV) of the sample parcel divided by the Total AV of the properties within the district's tax area.</p>
  <H3>Data Sources</H3>
  <p>The district's levy resolution</p>
  <p>The county assessor's website for historical property taxes</p>

 </body>
</html>

