<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'County');
        data.addColumn('string', 'District');
        data.addColumn('string', 'Measure Type');
        data.addRows([
          ['Benton', 'Kiona-Benton', 'Enrichment', ],
          ['Chelan', 'Lake Chelan', 'Bond', ],
          ['King', 'Auburn', 'Bond', ],
          ['King', 'Auburn', 'Capital', ],
          ['King', 'Highline', 'Enrichment', ],
          ['King', 'Renton', 'Capital', ],
          ['King', 'Renton', 'Enrichment', ],
          ['Kitsap', 'Bainbridge Island', 'Enrichment', ],
          ['Lewis', 'Adna', 'Enrichment', ],
          ['Mason', 'North Mason', 'Enrichment', ],
          ['Pierce', 'Orting', 'Bond', ],
          ['Pierce', 'Steilacoom', 'Capital', ],
          ['Pierce', 'Steilacoom', 'Enrichment', ],
          ['San Juan', 'Orcas Island', 'Capital', ],
          ['San Juan', 'Orcas Island', 'Enrichment', ],
          ['Spokane', 'Deer Park', 'Capital', ],
          ['Spokane', 'Orchard Prairie', 'Enrichment', ],
          ['Spokane', 'Riverside', 'Capital', ],
          ['Spokane', 'Spokane', 'Bond', ],
          ['Thurston', 'Yelm', 'Enrichment', ],
          ['Whatcom', 'Bellingham', 'Capital', ],
          ['Whatcom', 'Bellingham', 'Enrichment', ],
          ['Whatcom', 'Lynden', 'Bond', ],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>
