<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Lead County');
        data.addColumn('string', 'District');
        data.addColumn('string', 'Requirements: (C)ounty, (D)istrict, (N)one');
        data.addRows([
          ['Adams', 'Benge School District', 'C'],
          ['Adams', 'Lind School District', 'C'],
          ['Adams', 'Ritzville School District', 'C'],
          ['Benton', 'Prosser School District', 'C'],
          ['Chelan', 'Cashmere School District', 'C'],
          ['Chelan', 'Entiat School District', 'C'],
          ['Chelan', 'Lake Chelan School District', 'C'],
          ['Clallam', 'Cape Flattery School District', 'C'],
          ['Clallam', 'Crescent School District', 'C'],
          ['Clark', 'Camas School District', 'N'],
          ['Clark', 'Green Mountain School District', 'N'],
          ['Columbia', 'Dayton School District', 'N'],
          ['Cowlitz', 'Kelso School District', 'C'],
          ['Cowlitz', 'Longview School District', 'C'],
          ['Cowlitz', 'Toutle Lake School District', 'C'],
          ['Cowlitz', 'Woodland School District', 'C'],
          ['Douglas', 'Bridgeport School District', 'D'],
          ['Douglas', 'Mansfield School District', 'D'],
          ['Douglas', 'Orondo School District', 'D'],
          ['Douglas', 'Waterville School District', 'D'],
          ['Ferry', 'Keller School District', 'D'],
          ['Franklin', 'Kahlotus School District', 'N'],
          ['Franklin', 'North Franklin School District', 'N'],
          ['Grant', 'Coulee-Hartline School District', 'C'],
          ['Grant', 'Moses Lake School District', 'C'],
          ['Grant', 'Royal School District', 'C'],
          ['Grant', 'Soap Lake School District', 'C'],
          ['Grant', 'Warden School District', 'C'],
          ['Grant', 'Wilson Creek School District', 'C'],
          ['Grays Harbor', 'Aberdeen School District', 'C'],
          ['Grays Harbor', 'Cosmopolis School District', 'C'],
          ['Grays Harbor', 'Elma School District', 'C'],
          ['Grays Harbor', 'Hoquiam School District', 'C'],
          ['Grays Harbor', 'McCleary School District', 'C'],
          ['Grays Harbor', 'Montesano School District', 'C'],
          ['Grays Harbor', 'North Beach School District', 'C'],
          ['Grays Harbor', 'Oakville School District', 'C'],
          ['Grays Harbor', 'Satsop School District', 'C'],
          ['Grays Harbor', 'Wishkah Valley School District', 'C'],
          ['Jefferson', 'Brinnon School District', 'C'],
          ['Jefferson', 'Queets-Clearwater School District', 'C'],
          ['Jefferson', 'Quilcene School District', 'C'],
          ['King', 'Auburn School District', 'N'],
          ['King', 'Tahoma School District', 'N'],
          ['King', 'Tukwila School District', 'N'],
          ['Kitsap', 'Bainbridge Island School District', 'D'],
          ['Kitsap', 'Bremerton School District', 'D'],
          ['Kitsap', 'Central Kitsap School District', 'D'],
          ['Kitsap', 'South Kitsap', 'D'],
          ['Kittitas', 'Cle Elum-Roslyn School District', 'N'],
          ['Klickitat', 'Bickleton School District', 'N'],
          ['Klickitat', 'Centerville School District', 'N'],
          ['Klickitat', 'Glenwood School District', 'N'],
          ['Klickitat', 'Goldendale School District', 'N'],
          ['Klickitat', 'Roosevelt School District', 'N'],
          ['Klickitat', 'Wishram School District', 'N'],
          ['Lewis', 'Boistfort School District', 'D'],
          ['Lewis', 'Centralia School District', 'D'],
          ['Lewis', 'Chehalis School District', 'D'],
          ['Lewis', 'Morton School District', 'D'],
          ['Lewis', 'Toledo School District', 'D'],
          ['Lincoln', 'Creston School District', 'C'],
          ['Lincoln', 'Davenport School District', 'C'],
          ['Lincoln', 'Harrington School District', 'C'],
          ['Lincoln', 'Reardan-Edwall School District', 'C'],
          ['Mason', 'Grapeview School District', 'C'],
          ['Mason', 'Mary M Knight School District', 'C'],
          ['Okanogan', 'Brewster School District', 'C'],
          ['Okanogan', 'Methow Valley School District', 'C'],
          ['Okanogan', 'Nespelem School District #14', 'C'],
          ['Okanogan', 'Omak School District', 'C'],
          ['Okanogan', 'Oroville School District', 'C'],
          ['Okanogan', 'Tonasket School District', 'C'],
          ['Pacific', 'Naselle-Grays River Valley School District', 'N'],
          ['Pacific', 'Ocean Beach School District', 'N'],
          ['Pacific', 'Raymond School District', 'N'],
          ['Pacific', 'South Bend School District', 'N'],
          ['Pierce', 'Carbonado School District', 'C'],
          ['Pierce', 'Clover Park School District', 'C'],
          ['Pierce', 'Eatonville School District', 'C'],
          ['Pierce', 'Sumner School District', 'C'],
          ['San Juan', 'Orcas Island School District', 'C'],
          ['Skagit', 'Concrete School District', 'N'],
          ['Skagit', 'Mount Vernon School District', 'N'],
          ['Skamania', 'Mount Pleasant School District', 'N'],
          ['Snohomish', 'Arlington School District', 'N'],
          ['Snohomish', 'Lakewood School District', 'N'],
          ['Snohomish', 'Stanwood-Camano School District', 'N'],
          ['Spokane', 'Central Valley School District', 'D'],
          ['Spokane', 'Cheney School District', 'D'],
          ['Spokane', 'Deer Park School District', 'D'],
          ['Spokane', 'East Valley School District (Spokane)', 'C'],
          ['Spokane', 'Freeman School District', 'D'],
          ['Spokane', 'Great Northern School District', 'D'],
          ['Spokane', 'Liberty School District', 'D'],
          ['Spokane', 'Mead School District', 'D'],
          ['Spokane', 'Medical Lake School District', 'D'],
          ['Spokane', 'Nine Mile Falls School District', 'D'],
          ['Spokane', 'Riverside School District', 'D'],
          ['Spokane', 'Spokane School District', 'D'],
          ['Spokane', 'West Valley School District (Spokane)', 'D'],
          ['Stevens', 'Chewelah School District', 'D'],
          ['Stevens', 'Columbia (Stevens) School District', 'D'],
          ['Stevens', 'Loon Lake School District', 'D'],
          ['Stevens', 'Northport School District', 'D'],
          ['Stevens', 'Onion Creek School District', 'D'],
          ['Thurston', 'Griffin School District', 'N'],
          ['Thurston', 'North Thurston Public Schools', 'N'],
          ['Thurston', 'Olympia School District', 'N'],
          ['Thurston', 'Rainier School District', 'N'],
          ['Thurston', 'Rochester School District', 'N'],
          ['Thurston', 'Tenino School District', 'N'],
          ['Thurston', 'Tumwater School District', 'N'],
          ['Thurston', 'Yelm School District', 'N'],
          ['Walla Walla', 'Dixie School District', 'N'],
          ['Walla Walla', 'Waitsburg School District', 'N'],
          ['Walla Walla', 'Walla Walla Public Schools', 'N'],
          ['Whatcom', 'Bellingham School District', 'D'],
          ['Whatcom', 'Blaine School District', 'D'],
          ['Whatcom', 'Ferndale School District', 'D'],
          ['Whatcom', 'Lynden School District', 'D'],
          ['Whatcom', 'Meridian School District', 'D'],
          ['Whatcom', 'Mount Baker School District', 'D'],
          ['Whatcom', 'Nooksack Valley School District', 'D'],
          ['Whitman', 'Colfax School District', 'C'],
          ['Whitman', 'Endicott School District', 'C'],
          ['Whitman', 'LaCrosse School District', 'C'],
          ['Whitman', 'Pullman School District', 'C'],
          ['Whitman', 'Rosalia School District', 'C'],
          ['Whitman', 'St. John School District', 'C'],
          ['Whitman', 'Steptoe School District', 'C'],
          ['Whitman', 'Tekoa School District', 'C'],
          ['Yakima', 'East Valley School District (Yakima)', 'C'],
          ['Yakima', 'Granger School District', 'C'],
          ['Yakima', 'Mabton School District', 'C'],
          ['Yakima', 'Naches Valley School District', 'C'],
          ['Yakima', 'Sunnyside School District', 'C'],
          ['Yakima', 'Yakima School District', 'C'],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>
