<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input; // Table input to draw with parcel AV info
	var table;  // Short output table to draw for totals
	<!-- var chart; -->
	var dataParcel;
	
	totalLevyAV = 1038910263;
	sampleParcelAV = 500000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalLevyCost = 5350000;
	sampleParcelPOF = sampleParcelAV / totalLevyAV;
	totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
	levyYears = 3;
	averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
	// Total AV Annual Change Percent
	totalAVChange0 = 8.4;
	totalAVChange1 = 8.4;
	totalAVChange2 = 8.4;
	totalAVChange3 = 8.4;
	totalAVChangeMin = -20.0;
	totalAVChangeMax = 20.0;
	
	pofChange = 0



    function drawStuff() {
		// Levy 1 init
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'New Levy Amount');
		data.addColumn('number', 'Total AV');
		data.addColumn('number', 'Total AV Change');
		data.addColumn('number', 'Rate');
		data.addColumn('number', 'Example Property AV');
		data.addColumn('number', 'Example Property POF');
		data.addColumn('number', 'Example Property Levy Amount');

		data.addRows([
			['2023', 0,       1038910263, 0,   0,    500000, 0.000481, 0],
			['2024', 0,       1126178725, 8.4, 0,    542000, 0.000481, 0],
			['2025', 1640000, 1220777738, 8.4, 1.34, 589000, 0.000481, 789],
			['2026', 1780000, 1326638538, 8.4, 1.34, 638476, 0.000481, 857],
			['2027', 1930000, 1438076175, 8.4, 1.34, 692108, 0.000481, 929],

		]);
		
		
		// Table Output General
		table_output = new google.visualization.DataTable();
		table_output.addColumn('string', 'Year');
		table_output.addColumn('number', 'Total AV');
		table_output.addColumn('number', 'Total AV Change');
		table_output.addColumn('number', 'New Levy Amount');
		table_output.addColumn('number', 'Rate');
		table_output.addColumn('number', 'Example Property AV');
		table_output.addColumn('number', 'Example Property POF');
		table_output.addColumn('number', 'Example Property New Levy Amount');

		table_output.addRows(levyYears + 2);
		for (let i = 0; i < levyYears + 2; i++) {
			table_output.setCell(i, 0, data.getValue(i, 0)); // Year
			table_output.setCell(i, 1, data.getValue(i, 2)); // Total AV
			table_output.setCell(i, 2, data.getValue(i, 3)); // Total AV Change
			table_output.setCell(i, 3, data.getValue(i, 1)); // New Levy Amount
			table_output.setCell(i, 4, data.getValue(i, 4)); // Rate
			table_output.setCell(i, 5, data.getValue(i, 5)); // Example Property AV
			table_output.setCell(i, 6, data.getValue(i, 6)); // Example Property POF
			table_output.setCell(i, 7, data.getValue(i, 7)); // Example Property Levy Amount
		
		}


		// Levy 1 parcel data
		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'New Levy Amount');

		dataParcel.addRows(levyYears + 2);
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		for (let i = 0; i < levyYears + 2; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofChange/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;

		options = {
			title: 'Estimated Levy Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		

		
		// Levy 1 input data
		// Example parcel AV table
		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Example Property 2023 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		// Total AV 0 Adjust table
		// Total AV 0 Adjust
		table_total_av_change_0_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_0_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_0_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_0_adjust_input_data.addRows([
			['2023 to 2024 Total AV Percent Change', totalAVChange0 ],
		]);

		// Total AV 1 Adjust table
		// Total AV 1 Adjust
		table_total_av_change_1_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_1_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_1_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_1_adjust_input_data.addRows([
			['2024 to 2025 Total AV Percent Change', totalAVChange1 ],
		]);

		// Total AV 2 Adjust table
		// Total AV 2 Adjust
		table_total_av_change_2_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_2_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_2_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_2_adjust_input_data.addRows([
			['2025 to 2026 Total AV Percent Change', totalAVChange2 ],
		]);

		// Total AV 3 Adjust table
		// Total AV 3 Adjust
		table_total_av_change_3_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_3_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_3_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_3_adjust_input_data.addRows([
			['2026 to 2027 Total AV Percent Change', totalAVChange3 ],
		]);

		// Levy 1 output table
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Item');
		table_data.addColumn('number', 'Amount');
		table_data.addRows([
			['Total cost for the owner of the example property', totalLevyCostParcel],
			['Average cost per year for 3 years', averageTotalLevyCostParcel],
		
		]);

		// Levy 1 chart
		<!-- chart = new google.visualization.ColumnChart(document.getElementById('chart_div')); -->
		formatter = new google.visualization.NumberFormat(
			{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, negativeColor: 'red', negativeParens: false});
		formatterPOF = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:6, negativeColor: 'red', negativeParens: false});
		formatterRate = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:3, negativeColor: 'red', negativeParens: false});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		//formatter.format(dataParcel, 2); // Apply formatter to third column
		<!-- chart.draw(dataParcel, options); -->
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		// Input table for sample parcel AV
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// Input table for POF change
		table_total_av_0_adjust_input = new google.visualization.Table(document.getElementById('table_pof_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_0_adjust_input.draw(table_total_av_change_0_adjust_input_data, {sort:'disable'});

		// Input table for POF 1 change
		table_total_av_1_adjust_input = new google.visualization.Table(document.getElementById('table_pof_1_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_1_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_1_adjust_input.draw(table_total_av_change_1_adjust_input_data, {sort:'disable'});

		// Input table for POF 2 change
		table_total_av_2_adjust_input = new google.visualization.Table(document.getElementById('table_pof_2_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_2_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_2_adjust_input.draw(table_total_av_change_2_adjust_input_data, {sort:'disable'});

		// Input table for POF 3 change
		table_total_av_3_adjust_input = new google.visualization.Table(document.getElementById('table_pof_3_adjust_input_div'));
		formatterPercent1.format(table_total_av_change_3_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_3_adjust_input.draw(table_total_av_change_3_adjust_input_data, {sort:'disable'});

		// Output table general
		table_output_vis = new google.visualization.Table(document.getElementById('table_output_general_div'));
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		formatter.format(table_output, 3); // Apply formatter to Levy Amount column
		formatterRate.format(table_output, 4); // Apply formatter to Rate column
		formatter.format(table_output, 5); // Apply formatter to Example Property AV column
		formatterPOF.format(table_output, 6); // Apply formatter to Example Property POF column
		formatter.format(table_output, 7); // Apply formatter to Example Property Levy Amount column
		table_output_vis.draw(table_output, {sort:'disable'});
    }

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		//Update chart 1
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		//totalLevyPriorCostParcel = 0;
		for (let i = 0; i < levyYears + 2; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofChange/100) ** (1 + i);
			dataParcel.setValue(i, 0, data.getValue(i, 0));
			dataParcel.setValue(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		<!-- chart.draw(dataParcel, options); -->
		
		//Update table output
		table_data.setValue(0, 1, totalLevyCostParcel); // Total levy cost parcel
		table_data.setValue(1, 1, averageTotalLevyCostParcel); // Average levy cost parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);
		
		//Update table output general
		table_output.setValue(1, 2, totalAVChange0);
		table_output.setValue(2, 2, totalAVChange1);
		table_output.setValue(3, 2, totalAVChange2);
		table_output.setValue(4, 2, totalAVChange3);
		table_output.setValue(0, 5, sampleParcelAV);
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		// Total AV update
		for (let i = 1; i < levyYears + 2; i++) {
			newTotalAV = table_output.getValue(i-1,1) * (1 + table_output.getValue(i, 2)/100)
			table_output.setValue(i, 1, newTotalAV);
		}
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		// Rate update
		for (let i = 0; i < levyYears + 2; i++) {
			newRate = table_output.getValue(i,3) / table_output.getValue(i,1) * 1000
			table_output.setValue(i, 4, newRate);
		}
		formatterRate.format(table_output, 4); // Apply formatter to Rate column
		// Example Property AV update
		for (let i = 1; i < levyYears + 2; i++) {
			newExPropAV = table_output.getValue(i-1,5) * (1 + table_output.getValue(i,2) / 100)
			table_output.setValue(i, 5, newExPropAV);
		}
		formatter.format(table_output, 5); // Apply formatter to Ex Prop AV column
		// Example Property POF update
		for (let i = 0; i < levyYears + 2; i++) {
			newExPropPOF = table_output.getValue(i,5) / table_output.getValue(i,1)
			table_output.setValue(i, 6, newExPropPOF);
		}
		formatterPOF.format(table_output, 6); // Apply formatter to Ex Prop POF column
		// Example Property Levy Amount update
		for (let i = 0; i < levyYears + 2; i++) {
			newExPropLevyAmount = table_output.getValue(i,5) * table_output.getValue(i,4) / 1000
			table_output.setValue(i, 7, newExPropLevyAmount);
		}
		formatter.format(table_output, 7); // Apply formatter to Ex Prop Levy Amount column
	
		//table_output.setValue(1, 2, totalAVChange0);
		table_output_vis.draw(table_output);
    }
	
	function changeTotalAVChange(dir) {
		totalAVChange0 = totalAVChange0 + dir;
		if (totalAVChange0 < totalAVChangeMin)
			totalAVChange0 = totalAVChangeMin;
		if (totalAVChange0 > totalAVChangeMax)
			totalAVChange0 = totalAVChangeMax;
		table_total_av_change_0_adjust_input_data.setValue(0, 1, totalAVChange0);
		formatterPercent1.format(table_total_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_0_adjust_input.draw(table_total_av_change_0_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange1(dir) {
		totalAVChange1 = totalAVChange1 + dir;
		if (totalAVChange1 < totalAVChangeMin)
			totalAVChange1 = totalAVChangeMin;
		if (totalAVChange1 > totalAVChangeMax)
			totalAVChange1 = totalAVChangeMax;
		table_total_av_change_1_adjust_input_data.setValue(0, 1, totalAVChange1);
		formatterPercent1.format(table_total_av_change_1_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_1_adjust_input.draw(table_total_av_change_1_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange2(dir) {
		totalAVChange2 = totalAVChange2 + dir;
		if (totalAVChange2 < totalAVChangeMin)
			totalAVChange2 = totalAVChangeMin;
		if (totalAVChange2 > totalAVChangeMax)
			totalAVChange2 = totalAVChangeMax;
		table_total_av_change_2_adjust_input_data.setValue(0, 1, totalAVChange2);
		formatterPercent1.format(table_total_av_change_2_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_2_adjust_input.draw(table_total_av_change_2_adjust_input_data);
		changeParcelAV(0);
	}

	function changeTotalAVChange3(dir) {
		totalAVChange3 = totalAVChange3 + dir;
		if (totalAVChange3 < totalAVChangeMin)
			totalAVChange3 = totalAVChangeMin;
		if (totalAVChange3 > totalAVChangeMax)
			totalAVChange3 = totalAVChangeMax;
		table_total_av_change_3_adjust_input_data.setValue(0, 1, totalAVChange3);
		formatterPercent1.format(table_total_av_change_3_adjust_input_data, 1); // Apply formatter to second column
		table_total_av_3_adjust_input.draw(table_total_av_change_3_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the February 13th 2024 levy measure proposed by the Toledo SD</H2>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <!-- <p></p> -->
  <input type="button" value="+" onclick="changeParcelAV(25000)" />
  <input type="button" value="-" onclick="changeParcelAV(-25000)" />
  <p></p>
  <div id="table_pof_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange(0.1)" />
  <input type="button" value="-" onclick="changeTotalAVChange(-0.1)" />
  <div id="table_pof_1_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange1(0.1)" />
  <input type="button" value="-" onclick="changeTotalAVChange1(-0.1)" />
  <div id="table_pof_2_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange2(0.1)" />
  <input type="button" value="-" onclick="changeTotalAVChange2(-0.1)" />
  <div id="table_pof_3_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeTotalAVChange3(0.1)" />
  <input type="button" value="-" onclick="changeTotalAVChange3(-0.1)" />
  <p></p>
  <H3>Output</H3>
  <H3>Enrichment Levy</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_general_div" style="width:1200px; height: 160px;"></div>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <!-- <div id="chart_div" style="width:800px; height: 640px;"></div> -->
  <!-- <p>POF: Proportional Obligation Factor equals the assessed value (AV) of the sample parcel divided by the Total AV of the properties within the district's tax area.</p> -->
  <H3>Notes</H3>
  <p>This interactive calculator was created by the author independently from and not associated with the school district.</p>
  <p>Note how changing the assumed Total AV Change percent for any year affects the calculated rate but not the levy amounts for the owner of the example property.</p>
  <H3>Data Sources</H3>
  <p>The district's levy resolution</p>
  <!-- <p>The county assessor's website for historical property taxes</p> -->

 </body>
</html>

