<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'County');
        data.addColumn('string', 'District');
        data.addColumn('string', 'Measure Type');
        data.addColumn('string', 'Prev Election Date');
        data.addColumn('string', 'Prev Result');
        data.addColumn('number', 'Prev Approval %');
        data.addRows([
          ['Adams', 'Ritzville School District', 'Enrichment Levy', '2024-02-13', 'P', {v: 61, f:'62'},],
          ['Asotin', 'Asotin-Anatone School District', 'Capital Levy', '2020-11-03', 'P', {v: 64, f:'64'},],
          ['Asotin', 'Asotin-Anatone School District', 'Enrichment Levy', '2020-11-03', 'P', {v: 59, f:'60'},],
          ['Benton', 'Finley School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 52, f:'52'},],
          ['Benton', 'Kiona-Benton City School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 52, f:'52'},],
          ['Benton', 'Richland School District', 'Bond', '2024-11-05', 'F', {v: 47, f:'47'},],
          ['Chelan', 'Cascade School District', 'Capital Levy', '2021-02-09', 'P', {v: 63, f:'63'},],
          ['Chelan', 'Cascade School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 61, f:'62'},],
          ['Chelan', 'Manson School District', 'Capital Levy', '2019-02-12', 'P', {v: 68, f:'69'},],
          ['Chelan', 'Manson School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 68, f:'68'},],
          ['Chelan', 'Wenatchee School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 63, f:'63'},],
          ['Clallam', 'Port Angeles School District', 'Capital Levy', '2020-02-11', 'P', {v: 54, f:'54'},],
          ['Clallam', 'Quillayute Valley School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 59, f:'59'},],
          ['Clallam', 'Sequim School District', 'Capital Levy', '2021-02-09', 'P', {v: 58, f:'58'},],
          ['Clallam', 'Sequim School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 56, f:'57'},],
          ['Clark', 'Battle Ground School District', 'Enrichment Levy', '2021-11-02', 'P', {v: 54, f:'55'},],
          ['Clark', 'Evergreen School District (Clark)', 'Capital Levy', '2019-02-12', 'P', {v: 51, f:'52'},],
          ['Clark', 'Evergreen School District (Clark)', 'Enrichment Levy', '2022-04-26', 'P', {v: 54, f:'54'},],
          ['Clark', 'La Center School District', 'Enrichment Levy', '2022-08-02', 'P', {v: 51, f:'51'},],
          ['Clark', 'Ridgefield School District', 'Bond', '2024-04-23', 'F', {v: 58, f:'59'},],
          ['Clark', 'Ridgefield School District', 'Enrichment Levy', '2022-08-02', 'P', {v: 59, f:'59'},],
          ['Clark', 'Vancouver School District', 'Capital Levy', '2019-02-12', 'P', {v: 62, f:'63'},],
          ['Cowlitz', 'Castle Rock School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 53, f:'53'},],
          ['Douglas', 'Eastmont School District', 'Bond', '2024-04-23', 'F', {v: 59, f:'59'},],
          ['Ferry', 'Inchelium School District', 'Enrichment Levy', '2022-11-08', 'P', {v: 57, f:'57'},],
          ['Ferry', 'Republic School District', 'Capital Levy', '2021-11-02', 'F', {v: 49, f:'50'},],
          ['Grant', 'Ephrata School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 66, f:'66'},],
          ['Grant', 'Grand Coulee Dam School District', 'Capital Levy', '2022-02-08', 'F', {v: 43, f:'43'},],
          ['Grant', 'Grand Coulee Dam School District', 'Enrichment Levy', '2022-11-08', 'P', {v: 54, f:'55'},],
          ['Grant', 'Moses Lake School District', 'Enrichment Levy', '2024-04-23', 'F', {v: 45, f:'46'},],
          ['Grant', 'Wahluke School District', 'Capital Levy', '2024-02-13', 'F', {v: 46, f:'46'},],
          ['Grays Harbor', 'Taholah School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 78, f:'78'},],
          ['Island', 'Oak Harbor School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 55, f:'55'},],
          ['Jefferson', 'Chimacum School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 67, f:'67'},],
          ['Jefferson', 'Port Townsend School District', 'Capital Levy', '2022-02-08', 'P', {v: 74, f:'74'},],
          ['Jefferson', 'Port Townsend School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 75, f:'76'},],
          ['King', 'Auburn School District', 'Bond', '2024-11-05', 'F', {v: 55, f:'55'},],
          ['King', 'Issaquah School District', 'Bond', '2024-11-05', 'F', {v: 50, f:'50'},],
          ['King', 'Seattle Public Schools', 'Enrichment Levy', '2022-02-08', 'P', {v: 78, f:'79'},],
          ['Kitsap', 'South Kitsap School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 51, f:'51'},],
          ['Kittitas', 'Cle Elum-Roslyn School District', 'Capital Levy', '2022-02-08', 'P', {v: 56, f:'56'},],
          ['Kittitas', 'Damman School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 73, f:'73'},],
          ['Lewis', 'Evaline School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 73, f:'73'},],
          ['Lewis', 'Mossyrock School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 60, f:'61'},],
          ['Lewis', 'Napavine School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 57, f:'57'},],
          ['Lewis', 'Onalaska School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 51, f:'52'},],
          ['Lewis', 'Pe Ell School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 63, f:'64'},],
          ['Lewis', 'Toledo School District', 'Capital Levy', '2023-02-14', 'F', {v: 43, f:'43'},],
          ['Lewis', 'White Pass School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 53, f:'54'},],
          ['Lewis', 'Winlock School District', 'Capital Levy', '2022-02-08', 'P', {v: 51, f:'52'},],
          ['Lewis', 'Winlock School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 51, f:'52'},],
          ['Lincoln', 'Odessa School District', 'Capital Levy', '2024-02-13', 'P', {v: 73, f:'74'},],
          ['Lincoln', 'Odessa School District', 'Enrichment Levy', '2024-02-13', 'P', {v: 71, f:'71'},],
          ['Lincoln', 'Reardan-Edwall School District', 'Capital Levy', '2022-11-08', 'F', {v: 41, f:'41'},],
          ['Lincoln', 'Sprague School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 71, f:'72'},],
          ['Mason', 'Hood Canal School District', 'Bond', '2024-02-13', 'F', {v: 56, f:'57'},],
          ['Mason', 'Hood Canal School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 60, f:'60'},],
          ['Mason', 'North Mason School District', 'Enrichment Levy', '2021-11-02', 'P', {v: 50, f:'50'},],
          ['Okanogan', 'Okanogan School District', 'Capital Levy', '2023-11-07', 'P', {v: 56, f:'57'},],
          ['Pierce', 'Orting School District', 'Bond', '2024-11-05', 'F', {v: 59, f:'59'},],
          ['Pierce', 'Steilacoom Hist. School District', 'Capital Levy', '2023-11-07', 'P', {v: 57, f:'57'},],
          ['Skagit', 'La Conner School District', 'Enrichment Levy', '2021-02-09', 'P', {v: 71, f:'71'},],
          ['Snohomish', 'Arlington School District', 'Bond', '2024-02-13', 'F', {v: 53, f:'54'},],
          ['Snohomish', 'Arlington School District', 'Capital Levy', '2024-11-05', 'F', {v: 47, f:'47'},],
          ['Snohomish', 'Lake Stevens School District', 'Bond', '2024-11-05', 'F', {v: 57, f:'58'},],
          ['Snohomish', 'Marysville School District', 'Capital Levy', '2022-04-26', 'F', {v: 47, f:'48'},],
          ['Snohomish', 'Monroe School District', 'Capital Levy', '2020-02-11', 'F', {v: 46, f:'47'},],
          ['Snohomish', 'Stanwood-Camano School District', 'Capital Levy', '2022-04-26', 'F', {v: 47, f:'47'},],
          ['Snohomish', 'Sultan School District', 'Bond', '2024-11-05', 'F', {v: 49, f:'49'},],
          ['Spokane', 'Deer Park School District', 'Bond', '2024-11-05', 'F', {v: 52, f:'52'},],
          ['Spokane', 'Freeman School District', 'Capital Levy', '2024-04-23', 'F', {v: 43, f:'44'},],
          ['Spokane', 'Orchard Prairie School District', 'Bond', '2024-11-05', 'F', {v: 56, f:'56'},],
          ['Spokane', 'Orchard Prairie School District', 'Enrichment Levy', '2023-04-25', 'P', {v: 68, f:'69'},],
          ['Spokane', 'Riverside School District', 'Bond', '2024-02-13', 'F', {v: 53, f:'53'},],
          ['Spokane', 'Spokane School District', 'Bond', '2024-02-13', 'F', {v: 55, f:'56'},],
          ['Spokane', 'West Valley School District (Spokane)', 'Bond', '2024-02-13', 'F', {v: 50, f:'51'},],
          ['Stevens', 'Colville School District', 'Capital Levy', '2024-02-13', 'F', {v: 45, f:'46'},],
          ['Stevens', 'Mary Walker School District', 'Enrichment Levy', '2021-04-27', 'P', {v: 56, f:'57'},],
          ['Stevens', 'Summit Valley School District', 'Enrichment Levy', '2021-11-02', 'P', {v: 53, f:'54'},],
          ['Thurston', 'Rochester School District', 'Bond', '2024-02-13', 'F', {v: 52, f:'53'},],
          ['Thurston', 'Yelm School District', 'Enrichment Levy', '2024-04-23', 'F', {v: 48, f:'48'},],
          ['Walla Walla', 'Columbia (Walla Walla) School District', 'Capital Levy', '2022-11-08', 'F', {v: 44, f:'45'},],
          ['Walla Walla', 'Prescott School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 68, f:'69'},],
          ['Walla Walla', 'Touchet School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 68, f:'68'},],
          ['Whatcom', 'Blaine School District', 'Bond', '2024-11-05', 'F', {v: 56, f:'56'},],
          ['Whatcom', 'Lynden School District', 'Bond', '2024-08-06', 'F', {v: 45, f:'46'},],
          ['Whatcom', 'Meridian School District', 'Bond', '2024-11-05', 'F', {v: 53, f:'53'},],
          ['Whatcom', 'Mount Pleasant School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 67, f:'67'},],
          ['Whitman', 'Colton School District', 'Enrichment Levy', '2024-02-13', 'P', {v: 79, f:'79'},],
          ['Whitman', 'Garfield School District', 'Capital Levy', '2022-02-08', 'P', {v: 67, f:'67'},],
          ['Whitman', 'Garfield School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 70, f:'70'},],
          ['Whitman', 'LaCrosse School District', 'Capital Levy', '2023-11-07', 'P', {v: 61, f:'61'},],
          ['Whitman', 'Lamont School District', 'Enrichment Levy', '2023-02-14', 'P', {v: 55, f:'56'},],
          ['Whitman', 'Palouse School District', 'Capital Levy', '2022-02-08', 'P', {v: 67, f:'67'},],
          ['Whitman', 'Palouse School District', 'Enrichment Levy', '2022-02-08', 'P', {v: 69, f:'69'},],
          ['Whitman', 'Steptoe School District', 'Enrichment Levy', '2024-02-13', 'P', {v: 85, f:'85'},],
          ['Yakima', 'Toppenish School District', 'Capital Levy', '2019-11-05', 'P', {v: 51, f:'52'},],
          ['Yakima', 'Toppenish School District', 'Enrichment Levy', '2021-04-27', 'P', {v: 63, f:'63'},],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>
