<html>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input;
	var table;
	var chart;
	//var data;
	var dataParcel;
	
	totalBondAV = 14013000000;
	sampleParcelAV = 600000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalBondPrincipal = 271000000;
	totalBondInterest = 188000000;
	totalBondCost = totalBondPrincipal + totalBondInterest;
	sampleParcelPOF = sampleParcelAV / totalBondAV;
	totalBondCostParcel = 0;
	totalBondPrincipalParcel = 0;
	totalBondInterestParcel = 0;
	bondYears = 22;
	averageTotalBondCostParcel = 0;

	// POF Annual Change Percent
	pofAdjust = 0;
	pofAdjustMin = -3.0;
	pofAdjustMax = 3.0;

    function drawStuff() {
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Principal');
		data.addColumn('number', 'Interest + Fees');

		data.addRows([
			['2024', 11235436.0, 3615564.0],
			['2025', 7982951.0, 7706049.0],
			['2026', 3521048.0, 13125952.0],
			['2027', 4900455.0, 12244545.0],
			['2028', 4606096.0, 13052904.0],
			['2029', 5360366.0, 12825634.0],
			['2030', 6170482.0, 12559518.0],
			['2031', 7040695.0, 12252305.0],
			['2032', 7970094.0, 11900906.0],
			['2033', 8965336.0, 11501664.0],
			['2034', 10025082.0, 11051918.0],
			['2035', 11162211.0, 10547789.0],
			['2036', 12373236.0, 9985764.0],
			['2037', 13672312.0, 9361688.0],
			['2038', 15052243.0, 8671757.0],
			['2039', 17522364.0, 6910636.0],
			['2040', 19091330.0, 6074670.0],
			['2041', 20761580.0, 5158420.0],
			['2042', 22871988.0, 3823012.0],
			['2043', 24196878.0, 3300122.0],
			['2044', 26448112.0, 1873888.0],
			['2045', 10069706.0, 480294.0],

		]);

		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'Principal');
		dataParcel.addColumn('number', 'Interest + Fees');

		dataParcel.addRows(bondYears);

		sampleParcelPOFEffective = sampleParcelPOF;
		totalBondPrincipalParcel = 0;
		totalBondInterestParcel = 0;
		for (let i = 0; i < bondYears; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalBondPrincipalParcel = totalBondPrincipalParcel +  data.getValue(i, 1) * sampleParcelPOFEffective;
			totalBondInterestParcel = totalBondInterestParcel +  data.getValue(i, 2) * sampleParcelPOFEffective;
		}		
		totalBondCostParcel = totalBondPrincipalParcel + totalBondInterestParcel;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;

		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  

		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Sample Parcel 2023 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total cost', totalBondCostParcel],
			['Average cost per year for 22 years', averageTotalBondCostParcel],
			['Total principal cost', totalBondPrincipalParcel],
			['Total interest + fees cost', totalBondInterestParcel],
		]);

	  
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		formatter = new google.visualization.NumberFormat(
		{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: true});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// POF Adjust table
		table_pof_adjust_input_data = new google.visualization.DataTable();
		table_pof_adjust_input_data.addColumn('string', 'Description');
		table_pof_adjust_input_data.addColumn('number', 'Value');
		table_pof_adjust_input_data.addRows([
			['POF annual change', pofAdjust ],
		]);
 
		// Input table for POF change
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, negativeColor: 'red', negativeParens: false});
		table_pof_adjust_input = new google.visualization.Table(document.getElementById('table_pof_adjust_input_div'));
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data, {sort:'disable'});
		
		// All Categories bar chart if measure passes
data5 = new google.visualization.DataTable();
		data5.addColumn('string', 'Year');
		data5.addColumn('number', 'Existing Bond');
		data5.addColumn('number', 'New Bond');
		data5.addColumn('number', 'Existing Cap Levy');
		data5.addColumn('number', 'Future Cap Levy');
		data5.addColumn('number', 'Existing Tech Levy');
		data5.addColumn('number', 'Future Tech Levy');
		data5.addColumn('number', 'Existing Enrichment Levy');
		data5.addColumn('number', 'Future Enrichment Levy');
		data5.addColumn('number', 'State School');
		data5.addColumn('number', 'Non School');

		data5.addRows([
			['2023', 0, 0, 0, 0, 0, 0, 29507000, 0, 34787767, 53554932],
			['2024', 0, 14851000, 0, 0, 0, 0, 27944000, 0, 0, 0],
			['2025', 0, 15689000, 0, 0, 0, 0, 28819000, 0, 0, 0],
			['2026', 0, 16647000, 0, 0, 0, 0, 0, 29196000, 0, 0],
			['2027', 0, 17145000, 0, 0, 0, 0, 0, 30071000, 0, 0],
			['2028', 0, 17659000, 0, 0, 0, 0, 0, 30973000, 0, 0],
			['2029', 0, 18186000, 0, 0, 0, 0, 0, 31901000, 0, 0],
			['2030', 0, 18730000, 0, 0, 0, 0, 0, 32858000, 0, 0],
			['2031', 0, 19293000, 0, 0, 0, 0, 0, 33843000, 0, 0],
			['2032', 0, 19871000, 0, 0, 0, 0, 0, 34858000, 0, 0],
			['2033', 0, 20467000, 0, 0, 0, 0, 0, 35903000, 0, 0],
			['2034', 0, 21077000, 0, 0, 0, 0, 0, 36979000, 0, 0],
			['2035', 0, 21710000, 0, 0, 0, 0, 0, 38088000, 0, 0],
			['2036', 0, 22359000, 0, 0, 0, 0, 0, 39230000, 0, 0],
			['2037', 0, 23034000, 0, 0, 0, 0, 0, 40406000, 0, 0],
			['2038', 0, 23724000, 0, 0, 0, 0, 0, 41618000, 0, 0],
			['2039', 0, 24433000, 0, 0, 0, 0, 0, 42866000, 0, 0],
			['2040', 0, 25166000, 0, 0, 0, 0, 0, 44151000, 0, 0],
			['2041', 0, 25920000, 0, 0, 0, 0, 0, 45475000, 0, 0],
			['2042', 0, 26695000, 0, 0, 0, 0, 0, 46839000, 0, 0],
			['2043', 0, 27497000, 0, 0, 0, 0, 0, 48243000, 0, 0],
			['2044', 0, 28322000, 0, 0, 0, 0, 0, 49690000, 0, 0],
			['2045', 0, 10550000, 0, 0, 0, 0, 0, 51180000, 0, 0],

		]);

		// [NEW SECTION START]
		// All Categories Bar Chart if measure passes
		data5Parcel = new google.visualization.DataTable();
		data5Parcel.addColumn('string', 'Year');
		data5Parcel.addColumn('number', 'Existing Bond');
		data5Parcel.addColumn('number', 'New Bond');
		data5Parcel.addColumn('number', 'Existing Cap Levy');
		data5Parcel.addColumn('number', 'Future Cap Levy');
		data5Parcel.addColumn('number', 'Existing Tech Levy');
		data5Parcel.addColumn('number', 'Future Tech Levy');
		data5Parcel.addColumn('number', 'Existing Enrichment Levy');
		data5Parcel.addColumn('number', 'Future Enrichment Levy');
		data5Parcel.addColumn('number', 'State School');
		data5Parcel.addColumn('number', 'Non School');

		data5Parcel.addRows(bondYears + 1);

		sampleParcelPOFEffective = sampleParcelPOF;
		for (let i = 0; i < bondYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (i);
			data5Parcel.setCell(i, 0, data5.getValue(i, 0));
			data5Parcel.setCell(i, 1, data5.getValue(i, 1) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 2, data5.getValue(i, 2) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 3, data5.getValue(i, 3) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 4, data5.getValue(i, 4) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 5, data5.getValue(i, 5) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 6, data5.getValue(i, 6) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 7, data5.getValue(i, 7) * sampleParcelPOFEffective);
			data5Parcel.setCell(i, 8, data5.getValue(i, 8) * sampleParcelPOFEffective);
			// For the new years, need to calculate State School and Non School
			// Use growth of 1% for now
			if (i >= 1) {
				growthFactor = 1.01 ** (i)
				data5Parcel.setCell(i, 9, data5.getValue(0, 9) * growthFactor * sampleParcelPOF);
				data5Parcel.setCell(i, 10, data5.getValue(0, 10) * growthFactor * sampleParcelPOF);
			} else {
				data5Parcel.setCell(i, 9, data5.getValue(i, 9) * sampleParcelPOFEffective);
				data5Parcel.setCell(i, 10, data5.getValue(i, 10) * sampleParcelPOFEffective);
			}
		}		

		options5 = {
			title: 'Estimated Property Taxes For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
		// All categories bar chart if measure passes
		chart5 = new google.visualization.ColumnChart(document.getElementById('chart5_div'));
		formatter.format(data5Parcel, 1); // Apply formatter to second column
		formatter.format(data5Parcel, 2); // Apply formatter to third column
		formatter.format(data5Parcel, 3); 
		formatter.format(data5Parcel, 4); 
		formatter.format(data5Parcel, 5); 
		formatter.format(data5Parcel, 6); 
		formatter.format(data5Parcel, 7); 
		formatter.format(data5Parcel, 8); 
		formatter.format(data5Parcel, 9); 
		formatter.format(data5Parcel, 10); 
		chart5.draw(data5Parcel, options5);
		// [NEW SECTION END]
	}

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);

		//Update chart
		sampleParcelPOFEffective = sampleParcelPOF;
		totalBondPrincipalParcel = 0;
		totalBondInterestParcel = 0;
		for (let i = 0; i < bondYears; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (1 + i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			dataParcel.setCell(i, 2, data.getValue(i, 2) * sampleParcelPOFEffective);
			totalBondPrincipalParcel = totalBondPrincipalParcel +  data.getValue(i, 1) * sampleParcelPOFEffective;
			totalBondInterestParcel = totalBondInterestParcel +  data.getValue(i, 2) * sampleParcelPOFEffective;
		}		
		totalBondCostParcel = totalBondPrincipalParcel + totalBondInterestParcel;
		averageTotalBondCostParcel = totalBondCostParcel / bondYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		formatter.format(dataParcel, 2); // Apply formatter to third column
		chart.draw(dataParcel, options);

		//Update table output
		sampleParcelPOF = sampleParcelAV / totalBondAV;
		//totalBondCostParcel = sampleParcelPOF * totalBondCost;
		//totalBondPrincipalParcel = sampleParcelPOF * totalBondPrincipal;
		//totalBondInterestParcel = sampleParcelPOF * totalBondInterest;
		table_data.setValue(0, 1, totalBondCostParcel); // Total bond cost parcel
		table_data.setValue(1, 1, averageTotalBondCostParcel); // Average cost per year for parcel
		table_data.setValue(2, 1, totalBondPrincipalParcel); // Total principal for parcel
		table_data.setValue(3, 1, totalBondInterestParcel); // Total interest + fees for parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data);

		// [NEW SECTION START]
		// Update chart 5
		sampleParcelPOFEffective = sampleParcelPOF;
		for (let i = 0; i < bondYears + 1; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofAdjust/100) ** (i);
			data5Parcel.setValue(i, 0, data5.getValue(i, 0));
			data5Parcel.setValue(i, 1, data5.getValue(i, 1) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 2, data5.getValue(i, 2) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 3, data5.getValue(i, 3) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 4, data5.getValue(i, 4) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 5, data5.getValue(i, 5) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 6, data5.getValue(i, 6) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 7, data5.getValue(i, 7) * sampleParcelPOFEffective);
			data5Parcel.setValue(i, 8, data5.getValue(i, 8) * sampleParcelPOFEffective);
			// For the new years, need to calculate State School and Non School
			// Use growth of 1% for now
			if (i >= 1) {
				growthFactor = 1.01 ** (i)
				data5Parcel.setCell(i, 9, data5.getValue(0, 9) * growthFactor * sampleParcelPOF);
				data5Parcel.setCell(i, 10, data5.getValue(0, 10) * growthFactor * sampleParcelPOF);
			} else {
				data5Parcel.setCell(i, 9, data5.getValue(i, 9) * sampleParcelPOFEffective);
				data5Parcel.setCell(i, 10, data5.getValue(i, 10) * sampleParcelPOFEffective);
			}
		}		
		formatter.format(data5Parcel, 1); // Apply formatter to second column
		formatter.format(data5Parcel, 2);
		formatter.format(data5Parcel, 3);
		formatter.format(data5Parcel, 4);
		formatter.format(data5Parcel, 5);
		formatter.format(data5Parcel, 6);
		formatter.format(data5Parcel, 7);
		formatter.format(data5Parcel, 8);
		formatter.format(data5Parcel, 9);
		formatter.format(data5Parcel, 10);
		chart5.draw(data5Parcel, options5);
		// [NEW SECTION END]
    }
	
	function changePOFChange(dir) {
		pofAdjust = pofAdjust + dir;
		if (pofAdjust < pofAdjustMin)
			pofAdjust = pofAdjustMin;
		if (pofAdjust > pofAdjustMax)
			pofAdjust = pofAdjustMax;
		table_pof_adjust_input_data.setValue(0, 1, pofAdjust);
		formatterPercent1.format(table_pof_adjust_input_data, 1); // Apply formatter to second column
		table_pof_adjust_input.draw(table_pof_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the November 7th 2023 bond measure proposed by the South Kitsap SD</H2>
  <p>Created by the author independently from and not associated with the school district</p>
  <H3>Input</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="Increase Sample Parcel 2023 Tax Year AV" onclick="changeParcelAV(25000)" />
  <input type="button" value="Decrease Sample Parcel 2023 Tax Year AV" onclick="changeParcelAV(-25000)" />
  <p></p>
  <div id="table_pof_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="Increase POF Annual Change" onclick="changePOFChange(0.1)" />
  <input type="button" value="Decrease POF Annual Change" onclick="changePOFChange(-0.1)" />
  <p></p>
  <H3>Output</H3>
  <p>Estimated obligations for the sample parcel</P>
  <div id="table_output_div" style="width:1200px; height: 130px;"></div>
  <div id="chart_div" style="width:800px; height: 640px;"></div>
  <H3>All Property Taxes If The Measure Passes</H3>
  <p>Estimated obligations for the sample parcel</P>
  <p>A 1% growth is assumed for the State School and NonSchool categories from 2023 onward</p>
  <p>POF: Proportional Obligation Factor equals the assessed value (AV) of the sample parcel divided by the Total AV of the properties within the district's tax area.</p>
  <div id="chart5_div" style="width:800px; height: 640px;"></div>
  <H3>Data Sources</H3>
  <p>District's bond/levy projection datasheet</p>
  <p>County's annual tax booklets</p>
 </body>
</html>

