<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Lead County');
        data.addColumn('string', 'District');
        data.addColumn('string', 'Measure');
        data.addColumn('number', 'Score');
        data.addColumn('string', 'Grade');
        data.addRows([
          ['Spokane', 'West Valley', 'Capital Levy', {v: 98, f:'98'},'A+', ],
          ['King', 'Kent', 'Capital Levy', {v: 95, f:'95'},'A', ],
          ['King', 'Auburn', 'Bond', {v: 60, f:'60'},'D-', ],
          ['King', 'Lake Washington', 'Capital Levy', {v: 22, f:'22'},'F', ],
          ['King', 'Issaquah', 'Bond', {v: 21, f:'21'},'F', ],
          ['Spokane', 'Cheney', 'Bond', {v: 0, f:'0'},'F', ],
          ['Spokane', 'Deer Park', 'Bond', {v: 0, f:'0'},'F', ],
          ['Spokane', 'Orchard Prairie', 'Bond', {v: 0, f:'0'},'F', ],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>
