<html>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
 <head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','bar','table']});
    google.charts.setOnLoadCallback(drawStuff);

	var table_input; // Table input to draw with parcel AV info
	var table;  // Short output table to draw for totals
	<!-- var chart; -->
	var dataParcel;
	
	totalLevyAV = 2172789000;
	sampleParcelAV = 500000;
	sampleParcelAVMin = 100000;
	sampleParcelAVMax = 2000000;
	totalLevyCost = 112887000;
	sampleParcelPOF = sampleParcelAV / totalLevyAV;
	totalLevyCostParcel = sampleParcelPOF * totalLevyCost;
	levyYears = 27;
	levyStartYearOffset = 1;
	averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
	// Total AV Annual Change Percent
	totalAVChange0 = 0.0;
	pofChange0 = 0.0;
	newConstructionChange0 = 0;
	examplePropertyAVChange0 = 0;
	existingPropertiesAVChange0 = 0;

	totalAVChangeMin = -30.0;
	totalAVChangeMax = 30.0;
	pofChangeMin = -6.0;
	pofChangeMax = 6.0;
	newConstructionChangeMin = 0.0;
	newConstructionChangeMax = 6.0;
	examplePropertyAVChangeMin = -30;
	examplePropertyAVChangeMax = 30;
	existingPropertiesAVChangeMin = -30;
	existingPropertiesAVChangeMax = 30;
	totalNewBondTax = 0;

	pofChange = 0



    function drawStuff() {
		// Levy 1 init
		data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'New Bond Total Tax');
		data.addColumn('number', 'Total AV');
		data.addColumn('number', 'Total AV Change Guess');
		data.addColumn('number', 'Resulting New Bond Tax Rate');
		data.addColumn('number', 'Example Property\'s AV');
		data.addColumn('number', 'Example Property\'s POF');
		data.addColumn('number', 'Example Property\'s Bond Tax');
		data.addColumn('number', 'Example Property\'s AV Change');
		data.addColumn('number', 'New Construction Amount');
		data.addColumn('number', 'New Construction As Percent Of Prev Year\'s Total AV');
		data.addColumn('number', 'Existing Properties\' AV Change');
		data.addColumn('number', 'Example Property\'s POF Change');

		data.addRows([
				['2024', 0, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2025', 2949000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2026', 2959000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2027', 3073000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2028', 3181000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2029', 3293000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2030', 3378000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2031', 3462000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2032', 3545000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2033', 3637000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2034', 3727000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2035', 3819000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2036', 3913000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2037', 4014000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2038', 4110000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2039', 4217000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2040', 4323000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2041', 4428000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2042', 4541000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2043', 4656000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2044', 4767000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2045', 4889000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2046', 5010000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2047', 5135000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2048', 5267000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2049', 5395000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2050', 5528000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],
			['2051', 5671000, 2172789000, 0.0, 0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0],

		]);
		
		
		// Table Output General
		table_output = new google.visualization.DataTable();
		table_output.addColumn('string', '(A)<br>Tax<br>Year');
		table_output.addColumn('number', '(B)<br>New Bond<br>Total Tax');
		table_output.addColumn('number', '(C)<br>Total<br>AV');
		table_output.addColumn('number', '(D)<br>New<br>Construction<br>As a Percent of<br>Prev Year\'s Total AV');
		table_output.addColumn('number', '(E)<br>Existing<br>Properties\'<br>AV Change');
		table_output.addColumn('number', '(F)<br>Total AV<br>Change');
		table_output.addColumn('number', '(G)<br>Resulting<br>New Bond<br>Tax Rate');
		table_output.addColumn('number', '(H)<br>Example<br>Property\'s<br>AV');
		table_output.addColumn('number', '(I)<br>Example<br>Property\'s<br>AV Change');
		table_output.addColumn('number', '(J)<br>Example<br>Property\'s<br>POF');
		table_output.addColumn('number', '(K)<br>Example<br>Property\'s<br>POF Change');
		table_output.addColumn('number', '(L)<br>Example<br>Property\'s<br>New Bond Tax');
		// table_output.addColumn('number', '(J)<br>New<br>Construction<br>Amount');

		table_output.addRows(levyYears + levyStartYearOffset);
		totalNewBondTax = 0;
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			table_output.setCell(i, 0, data.getValue(i, 0)); // Tax Year
			table_output.setCell(i, 1, data.getValue(i, 1)); // New Bond Total Tax
			table_output.setCell(i, 2, data.getValue(i, 2)); // Total AV
			table_output.setCell(i, 3, data.getValue(i, 10)); // New Construction %
			table_output.setCell(i, 4, data.getValue(i, 11)); // Existing Properties AV Change %
			table_output.setCell(i, 5, data.getValue(i, 3)); // Total AV Change %
			table_output.setCell(i, 6, data.getValue(i, 4)); // Resulting New Bond Tax Rate
			table_output.setCell(i, 7, data.getValue(i, 5)); // Example Property AV
			table_output.setCell(i, 8, data.getValue(i, 8)); // Example Property AV Change %
			table_output.setCell(i, 9, data.getValue(i, 6)); // Example Property POF
			table_output.setCell(i, 10, data.getValue(i, 12)); // Example Property POF Change %
			table_output.setCell(i, 11, data.getValue(i, 7)); // Example Property New Bond Tax
			totalNewBondTax = totalNewBondTax + table_output.getValue(i, 1);
		}


		// Levy 1 parcel data
		dataParcel = new google.visualization.DataTable();
		dataParcel.addColumn('string', 'Year');
		dataParcel.addColumn('number', 'New Bond Total Tax');

		dataParcel.addRows(levyYears + levyStartYearOffset);
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			sampleParcelPOFEffective = sampleParcelPOF * (1 + pofChange0/100) ** (i);
			dataParcel.setCell(i, 0, data.getValue(i, 0));
			dataParcel.setCell(i, 1, data.getValue(i, 1) * sampleParcelPOFEffective);
			totalLevyCostParcel = totalLevyCostParcel + data.getValue(i, 1) * sampleParcelPOFEffective;
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;

		options = {
			title: 'Estimated Bond Cost Schedule For The Sample Parcel',
			isStacked: true,
			hAxis: {
			title: '',
			//format: 'h:mm a',
			viewWindow: {
				min: [7, 30, 0],
				max: [17, 30, 0]
			}
        },
        vAxis: {
			title: '$'
        }
		};
	  
		

		
		// Levy 1 input data
		// Example parcel AV table
		table_input_data = new google.visualization.DataTable();
		table_input_data.addColumn('string', 'Description');
		table_input_data.addColumn('number', 'Value');
		table_input_data.addRows([
			['Enter Your Property\'s Actual 2024 Tax Year Assessed Value (AV)', sampleParcelAV],
		]);

		// Total AV 0 Adjust table
		// Total AV 0 Adjust
		table_total_av_change_0_adjust_input_data = new google.visualization.DataTable();
		table_total_av_change_0_adjust_input_data.addColumn('string', 'Description');
		table_total_av_change_0_adjust_input_data.addColumn('number', 'Value');
		table_total_av_change_0_adjust_input_data.addRows([
			['Annual Total AV Percent Change Guess', totalAVChange0 ],
		]);

		// POF 0 Adjust table
		// POF 0 Adjust
		table_pof_change_0_adjust_input_data = new google.visualization.DataTable();
		table_pof_change_0_adjust_input_data.addColumn('string', 'Description');
		table_pof_change_0_adjust_input_data.addColumn('number', 'Value');
		table_pof_change_0_adjust_input_data.addRows([
			['Enter Your Guesstimate for Your Property\'s Annual POF Percent Change', pofChange0 ],
		]);

		// New Construction 0 Adjust table
		// New Construction 0 Adjust
		table_new_construction_change_0_adjust_input_data = new google.visualization.DataTable();
		table_new_construction_change_0_adjust_input_data.addColumn('string', 'Description');
		table_new_construction_change_0_adjust_input_data.addColumn('number', 'Value');
		table_new_construction_change_0_adjust_input_data.addRows([
			['Enter Your Guesstimate for Future Annual New Construction (District Tax Area) as a Percent of the Prev Year\'s Total AV', newConstructionChange0 ],
		]);

		// Example Property's AV Change 0 Adjust table
		// Example Property's AV 0 Adjust
		table_example_property_av_change_0_adjust_input_data = new google.visualization.DataTable();
		table_example_property_av_change_0_adjust_input_data.addColumn('string', 'Description');
		table_example_property_av_change_0_adjust_input_data.addColumn('number', 'Value');
		table_example_property_av_change_0_adjust_input_data.addRows([
			['Enter Your Guesstimate for Your Property\'s Future Annual AV Percent Change', examplePropertyAVChange0  ],
		]);

		// Existing Properties' AV Change 0 Adjust table
		// Existing Properties' AV Change 0 Adjust
		table_existing_properties_av_change_0_adjust_input_data = new google.visualization.DataTable();
		table_existing_properties_av_change_0_adjust_input_data.addColumn('string', 'Description');
		table_existing_properties_av_change_0_adjust_input_data.addColumn('number', 'Value');
		table_existing_properties_av_change_0_adjust_input_data.addRows([
			['Enter Your Guesstimate for All Existing Properties\' (District Tax Area) Future Average Annual AV Percent Change', existingPropertiesAVChange0  ],
		]);

		// Levy 1 output table
		table_data = new google.visualization.DataTable();
		table_data.addColumn('string', 'Description');
		table_data.addColumn('number', 'Value');
		table_data.addRows([
			['Total new bond cost (bond principal, bond interest and fees)', totalNewBondTax],
			['Total cost for the owner of the example property', totalLevyCostParcel],
			['Average cost per year for 27 years for the owner of the example property', averageTotalLevyCostParcel],
		
		]);

		// Levy 1 chart
		<!-- chart = new google.visualization.ColumnChart(document.getElementById('chart_div')); -->
		formatter = new google.visualization.NumberFormat(
			{prefix: '$', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:0, negativeColor: 'red', negativeParens: false});
		formatterPercent1 = new google.visualization.NumberFormat(
			{suffix: '%', fractionDigits:1, positiveColor: 'black', negativeColor: 'black', negativeParens: false});
		formatterPOF = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:7, negativeColor: 'red', negativeParens: false});
		formatterRate = new google.visualization.NumberFormat(
			{suffix: '', fractionDigits:2, negativeColor: 'red', negativeParens: false});
		formatter.format(dataParcel, 1); // Apply formatter to second column
		//formatter.format(dataParcel, 2); // Apply formatter to third column
		<!-- chart.draw(dataParcel, options); -->
		
		table = new google.visualization.Table(document.getElementById('table_output_div'));
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
		
		// Input table for sample parcel AV
		table_input = new google.visualization.Table(document.getElementById('table_input_div'));
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data, {sort:'disable'});

		// Input table for New Construction change
		table_new_construction_0_adjust_input = new google.visualization.Table(document.getElementById('table_new_construction_adjust_input_div'));
		formatterPercent1.format(table_new_construction_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_new_construction_0_adjust_input.draw(table_new_construction_change_0_adjust_input_data, {sort:'disable'});

		// Input table for Example Property AV change
		table_example_property_av_0_adjust_input = new google.visualization.Table(document.getElementById('table_example_property_av_adjust_input_div'));
		formatterPercent1.format(table_example_property_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_example_property_av_0_adjust_input.draw(table_example_property_av_change_0_adjust_input_data, {sort:'disable'});

		// Input table for Existing Properties AV change
		table_existing_properties_av_0_adjust_input = new google.visualization.Table(document.getElementById('table_existing_properties_av_adjust_input_div'));
		formatterPercent1.format(table_existing_properties_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_existing_properties_av_0_adjust_input.draw(table_existing_properties_av_change_0_adjust_input_data, {sort:'disable'});

		// Output table general
		table_output_vis = new google.visualization.Table(document.getElementById('table_output_general_div'));
		formatterPercent1.format(table_output, 2); // Apply formatter to Total AV Change column
		formatter.format(table_output, 1); // Apply formatter to Total AV column
		formatter.format(table_output, 3); // Apply formatter to Bond Total Tax column
		formatterRate.format(table_output, 4); // Apply formatter to Rate column
		formatter.format(table_output, 5); // Apply formatter to Example Property AV column
		formatterPOF.format(table_output, 6); // Apply formatter to Example Property POF column
		formatter.format(table_output, 7); // Apply formatter to Example Property Bond Tax column
		formatterPercent1.format(table_output, 8); // Apply formatter to Example Property AV Change column
		table_output_vis.draw(table_output, {sort:'disable'});
		
		changeParcelAV(0);
    }
	

    function changeParcelAV(dir) {
		//Update table input
		sampleParcelAV = sampleParcelAV + dir
		if (sampleParcelAV < sampleParcelAVMin)
			sampleParcelAV = sampleParcelAVMin
		if (sampleParcelAV > sampleParcelAVMax)
			sampleParcelAV = sampleParcelAVMax
		sampleParcelPOF = sampleParcelAV / totalLevyAV;
		table_input_data.setValue(0, 1, sampleParcelAV);
		formatter.format(table_input_data, 1); // Apply formatter to second column
		table_input.draw(table_input_data);
		<!-- chart.draw(dataParcel, options); -->
		
		
		//Update table output general
		// New Construction As % Of Prev Year's Total AV
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			table_output.setValue(i, 3, newConstructionChange0);
		}
		formatterPercent1.format(table_output, 3); // Apply formatter to New Construction Percent  column
		// Existing Properties' AV Change update
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			table_output.setValue(i, 4, existingPropertiesAVChange0);
		}
		formatterPercent1.format(table_output, 4); // Apply formatter to New Construction Percent column
		// Total AV Change Update
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			table_output.setValue(i, 5, newConstructionChange0 + existingPropertiesAVChange0);
		}
		formatterPercent1.format(table_output, 5); // Apply formatter to Total AV Change column
		// Total AV update
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			newTotalAV = table_output.getValue(i-1, 2) * (1 + table_output.getValue(i, 5)/100)
			table_output.setValue(i, 2, newTotalAV);
		}
		formatter.format(table_output, 2); // Apply formatter to Total AV column
		// Resulting Rate update
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			newRate = table_output.getValue(i, 1) / table_output.getValue(i, 2) * 1000
			table_output.setValue(i, 6, newRate);
		}
		formatterRate.format(table_output, 6); // Apply formatter to Rate column
		// Example Property AV Change update
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			table_output.setValue(i, 8, examplePropertyAVChange0);
		}
		formatterPercent1.format(table_output, 8); // Apply formatter to Ex Prop Levy Tax column
		// Example Property AV update
		table_output.setValue(0, 7, sampleParcelAV)
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			newExPropAV = table_output.getValue(i-1, 7) * (1 + examplePropertyAVChange0 / 100)
			table_output.setValue(i, 7, newExPropAV);
		}
		formatter.format(table_output, 7); // Apply formatter to Ex Prop AV column
		// Example Property POF update
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			newExPropPOF = table_output.getValue(i, 7) / table_output.getValue(i, 2)
			table_output.setValue(i, 9, newExPropPOF);
		}
		formatterPOF.format(table_output, 9); // Apply formatter to Ex Prop POF column
		// Example property's POF change
		for (let i = 1; i < levyYears + levyStartYearOffset; i++) {
			pofPercentChange = (table_output.getValue(i,9) - table_output.getValue(i-1,9)) / table_output.getValue(i-1,9) * 100
			table_output.setValue(i, 10, pofPercentChange);
		}
		formatterPercent1.format(table_output, 10); // Apply formatter to Ex Prop Levy Tax column
		// Example Property Levy Tax update
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			newExPropLevyAmount = table_output.getValue(i,7) * table_output.getValue(i,6) / 1000
			table_output.setValue(i, 11, newExPropLevyAmount);
		}
		formatter.format(table_output, 11); // Apply formatter to Ex Prop Levy Tax column
	
		//table_output.setValue(1, 2, totalAVChange0);
		table_output_vis.draw(table_output, {sort:'disable',allowHtml:'true'});
		
		//Update chart 1
		sampleParcelPOFEffective = sampleParcelPOF;
		totalLevyCostParcel = 0;
		//totalLevyPriorCostParcel = 0;
		for (let i = 0; i < levyYears + levyStartYearOffset; i++) {
			totalLevyCostParcel = totalLevyCostParcel + table_output.getValue(i, 11);
		}		
		averageTotalLevyCostParcel = totalLevyCostParcel / levyYears;
		formatter.format(dataParcel, 1); // Apply formatter to second column
		//Update table output
		table_data.setValue(0, 1, totalNewBondTax); // Total new bond cost
		table_data.setValue(1, 1, totalLevyCostParcel); // Total levy cost parcel
		table_data.setValue(2, 1, averageTotalLevyCostParcel); // Average levy cost parcel
		formatter.format(table_data, 1); // Apply formatter to second column
		table.draw(table_data, {sort:'disable'});
    }
	
	function changeTotalAVChange(dir) {
	}

	function changePOFChange(dir) {
	}

	function changeNewConstructionChange(dir) {
		newConstructionChange0 = newConstructionChange0 + dir;
		if (newConstructionChange0 < newConstructionChangeMin)
			newConstructionChange0 = newConstructionChangeMin;
		if (newConstructionChange0 > newConstructionChangeMax)
			newConstructionChange0 = newConstructionChangeMax;
		table_new_construction_change_0_adjust_input_data.setValue(0, 1, newConstructionChange0);
		formatterPercent1.format(table_new_construction_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_new_construction_0_adjust_input.draw(table_new_construction_change_0_adjust_input_data);
		changeParcelAV(0);
	}

	function changeExamplePropertyAVChange(dir) {
		examplePropertyAVChange0 = examplePropertyAVChange0 + dir;
		if (examplePropertyAVChange0 < examplePropertyAVChangeMin)
			examplePropertyAVChange0 = examplePropertyAVChangeMin;
		if (examplePropertyAVChange0 > examplePropertyAVChangeMax)
			examplePropertyAVChange0 = examplePropertyAVChangeMax;
		table_example_property_av_change_0_adjust_input_data.setValue(0, 1, examplePropertyAVChange0);
		formatterPercent1.format(table_example_property_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_example_property_av_0_adjust_input.draw(table_example_property_av_change_0_adjust_input_data);
		changeParcelAV(0);
	}

	function changeExistingPropertiesAVChange(dir) {
		existingPropertiesAVChange0 = existingPropertiesAVChange0 + dir;
		if (existingPropertiesAVChange0 < existingPropertiesAVChangeMin)
			existingPropertiesAVChange0 = existingPropertiesAVChangeMin;
		if (existingPropertiesAVChange0 > existingPropertiesAVChangeMax)
			existingPropertiesAVChange0 = existingPropertiesAVChangeMax;
		table_existing_properties_av_change_0_adjust_input_data.setValue(0, 1, existingPropertiesAVChange0);
		formatterPercent1.format(table_existing_properties_av_change_0_adjust_input_data, 1); // Apply formatter to second column
		table_existing_properties_av_0_adjust_input.draw(table_existing_properties_av_change_0_adjust_input_data);
		changeParcelAV(0);
	}

  </script>
 </head>
 <body>
  <H2>Property tax impact estimate calculator for the November 5th 2024 bond measure proposed by the Deer Park SD</H2>
  <H3>Input (Enter Your Data)</H3>
  <div id="table_input_div" style="width:1200px; height: 60px;"></div>
  <!-- <p></p> -->
  <input type="button" value="+" onclick="changeParcelAV(25000)" />
  <input type="button" value="-" onclick="changeParcelAV(-25000)" />
  <p></p>
  <div id="table_example_property_av_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeExamplePropertyAVChange(0.1)" />
  <input type="button" value="-" onclick="changeExamplePropertyAVChange(-0.1)" />
  <p></p>
  <div id="table_existing_properties_av_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeExistingPropertiesAVChange(0.1)" />
  <input type="button" value="-" onclick="changeExistingPropertiesAVChange(-0.1)" />
  <p></p>
  <div id="table_new_construction_adjust_input_div" style="width:1200px; height: 60px;"></div>
  <input type="button" value="+" onclick="changeNewConstructionChange(0.1)" />
  <input type="button" value="-" onclick="changeNewConstructionChange(-0.1)" />
  <p></p>
  <H3>Output (Results)</H3>
  <p>Estimated obligations for the example property</P>
  <div id="table_output_general_div" style="width:1200px; height: 862px;"></div>
  <div id="table_output_div" style="width:2000px; height: 150px;"></div>
  <H3>Usage</H3>
  <p>1) Select your property's 2024 Tax Year AV.</p>
  <p>2) Select your property's guesstimated annual AV percent change for the next 27 years.</p>
  <p>3) Select the average for all the other tax area's existing properties' guesstimated annual AV percent change for the next 27 years. This may be similar to the 
  assumption for your property but not necessarily so.</p>
  <p>4) Select the guesstimated value for new construction as a percent of the previous year's Total AV.</p>
  <p>5) Review the output table results.</p>
  <H3>Notes</H3>
  <p>This interactive calculator was created by the author independently from and not associated with the school district.</p>
  <p>POF: The Proportional Obligation Factor for any given year equals the assessed value (AV) of the example property divided by the Total AV of the properties within the district's tax area.</p>
  <p>AV: AV is the assessed value of a property as assessed by the county assessor's office. The AV of a property is supposed to be the market value at the time of the assessment. 
  AVs are always a year behind. For example, the county assessor's office during the summer of 2024 is assessing properties to assign AVs to use in the 2025 tax year.</p>
  <p></p>
  <H3>Equations</H3>
  <p>There are two ways to calculate the property tax for a given year for a given property. They are equivalent.</p>
  <p>For any given year:</p>
  <p>POF For The Year = {Example Property's AV For The Year} / {Total AV For The Year}</p>
  <p>Example Property's New Bond's Tax Payment For The Year = {POF For The Year} X {New Bond's Total Tax Payment For The Year}</p>
  <p>Resulting New Bond's Tax Rate For The Year = {New Bond's Total Tax Payment For The Year} / {Total AV For The Year} X 1,000</p>
  <p>Example Property's New Bond's Tax Payment For The Year = {Resulting New Bond's Tax Rate For The Year} X {Example Property's AV For The Year} / 1,000</p>
  <H3>Data Sources</H3>
  <p>The district's bond/levy projection datasheet for the bond's planned payments.</p>

 </body>
</html>

